<h4>Notes</h4>
<div id="notice-note"></div>
<% if @opportunity.notes.blank? %>
No notes submitted yet.
<% else %>
<div class="row">
    <% @opportunity.notes.each do |note| %>
    <div class="col-lg-6 panel panel-body">
        <div class="pull-right">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="caret"></i>
            </a>
            <ul class="dropdown-menu">
                <li><%= link_to 'Edit', '#',
            data: {toggle: "modal", target: "#noteModal-#{note.id}"} %></li>
                <li><%= link_to 'Delete',
            opportunity_note_path(@opportunity, note), method: :delete, remote: true %></li>
            </ul>
        </div>

        <h5>
          <%= link_to note.title.truncate(40), '#',
          data: {toggle: "modal", target: "#noteInfo-#{note.id}"} %>
            <small>
                Created
                <%= time_ago_in_words(note.created_at) %>
                ago
            </small>
        </h5>
        <%= note.description.truncate(100) %>
    </div>

    <!-- Modal -->
    <div id="noteModal-<%= note.id %>" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Edit Task
                        <%= note.id %></h4>
                </div>
                <div class="modal-body">
                    <%= simple_form_for [@opportunity, note], remote: true do |f| %>
                    <%= f.input :title %>
                    <%= f.input :description %>
                </div>
                <div class="modal-footer">
                    <%= f.button :submit, class: "btn btn-success" %>
                    <% end %>
                    <%= link_to 'Cancel', '#', class: "btn btn-default", data: {dismiss: "modal"}%>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div id="noteInfo-<%= note.id %>" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">
                      <small>Note</small>
                      <br>
                      <%= note.title %></h4>
                </div>
                <div class="modal-body">
                    <%= simple_format h(note.description) %>
                </div>
                <div class="modal-footer">

                    <%= link_to 'Close', '#', class: "btn btn-default", data: {dismiss: "modal"}%>
                </div>
            </div>
        </div>
    </div>
    <% end %>
</div>
<% end %>
