<div id="notice-note">
    <%= render 'layouts/message' %>
</div>

<hr>

<div class="row">
    <div class="col-lg-1 col-xs-1 text-center">
        <!-- <strong>ID</strong> -->
    </div>
    <div class="col-lg-2 col-xs-10">
        <strong>Title</strong>
        <br><br>
    </div>
    <div class="col-lg-2 col-xs-6">
        <strong>Description</strong>
    </div>
    <div class="col-lg-2 col-xs-6">
        <strong>Belongs to</strong>
        <div class="dropdown">
            <%= link_to '#',data: {toggle: 'dropdown'}, class: 'dropdown-toggle' do %>
            Show only
            <span class="caret"></span>
            <% end %>

            <ul class="dropdown-menu">
                <li><%= link_to 'All', notes_path %></li>
                <li><%= link_to 'Account', "?type=Account" %></li>
                <li><%= link_to 'Opportunity / Case / Marketing', "?type=Opportunity" %></li>
            </ul>
        </div>
        <br><br>
    </div>
    <div class="col-lg-2 col-xs-6">
        <strong>Created At DateTime</strong>
    </div>
    <div class="col-lg-2 col-xs-2 text-center">
        <strong>Action</strong>
    </div>
</div>

<% if @notes.blank? %>
<hr>
<div class="text-center">
    No <%= params[:type] %> notes found.<br><br>
    Create note through <%= link_to 'subject', opportunities_path %>
</div>
<% else %>


<% @notes.each do |note| %>
<hr>
<div class="row">
    <div class="col-lg-1 col-xs-1 text-center">
      <!-- <span class="badge"><%#= note.id %></span> -->
    </div>
    <div class="col-lg-2 col-xs-10">
        <%= link_to note.title, '#', data: {toggle: "modal", target: "#noteInfo-#{note.id}"} %>
        <br><br>
    </div>
    <div class="col-lg-2 col-xs-6">
        <%= note.description.truncate(50) %>
    </div>
    <div class="col-lg-2 col-xs-6">
        <% if note.info_type == "Opportunity" %>
        <small><%= note.info.business_type %></small><br>
        <%= link_to note.info.name, opportunity_path(note.info) %>
        <% elsif note.info_type == "Account" %>
        <small>Account</small><br>
        <%= link_to note.info.name, account_path(note.info) %>
        <% end %>
        <br><br>
    </div>
    <div class="col-lg-2 col-xs-6"><%= note.created_at.strftime('%d %b %Y at %H:%M:%S') %></div>
    <div class="col-lg-2 col-xs-2 text-center">
        <a href="#" class="dropdown-toggle btn btn-default" data-toggle="dropdown">
            <i class="caret"></i>
        </a>
        <ul class="dropdown-menu">
            <% if note.info_type == "Opportunity" %>
            <li><%= link_to 'Show', opportunity_path(note.info, anchor: "relatedNotes-noteInfo-#{note.id}") %></li>
            <li><%= link_to 'Edit', edit_opportunity_note_path(note.info, note) %></li>
            <li><%= link_to 'Delete', opportunity_note_path(note.info, note),
        method: :delete, data: {confirm: "Are you sure?"}, remote: true %></li>
            <% elsif note.info_type == "Account" %>
            <li><%= link_to 'Show', account_path(note.info, anchor: "relatedNotes-noteInfo-#{note.id}") %></li>
            <li><%= link_to 'Edit', edit_account_note_path(note.info, note) %></li>
            <li><%= link_to 'Delete', account_note_path(note.info, note),
        method: :delete, data: {confirm: "Are you sure?"}, remote: true %></li>
            <% end %>
        </ul>
    </div>
</div>

<%= render 'notes/note_info', note: note %>
<% end %>
<br>
<div class="text-center">
    <%= paginate @notes %>
</div>
<% end %>
