<!-- Modal -->
<div id="noteInfo-<%= note.id %>" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">
                    Note
                </h4>
            </div>
            <div class="modal-body">

              <h5>
                  <small>Title</small>
              </h5>
              <%= note.title %>
              <br><br>
              <h5>
                  <small>Description</small>
              </h5>
              <%= simple_format h(note.description) %>
              <hr>

                <div class="row">
                    <div class="col-lg-6">
                        <h5>
                            <small>Belongs to</small>
                        </h5>
                        <% if note.info_type == "Opportunity" %>

                        <small><%= note.info.business_type %></small><br>
                        <%= link_to note.info.name,
                        opportunity_path(note.info, anchor: "relatedNotes-noteInfo-#{note.id}") %>

                        <% elsif note.info_type == "Account" %>
                        
                        <small>Account</small><br>
                        <%= link_to note.info.name,
                        account_path(note.info, anchor: "relatedNotes-noteInfo-#{note.id}") %>

                        <% end %>
                        <br><br>
                    </div>
                    <div class="col-lg-6">
                      <h5>
                          <small>Note created by</small>
                      </h5>
                      <%= link_to note.user.name, user_path(note.user) %>
                    </div>
                </div>
                <br>
                <div class="row">
                  <div class="col-lg-6">
                    <h5>
                        <small>Created at</small>
                    </h5>
                    <%= note.created_at.strftime('%d %b %Y at %H:%M:%S') %>
                    <br><br>
                  </div>
                  <div class="col-lg-6">
                    <h5>
                        <small>Last updated at</small>
                    </h5>
                    <%= note.updated_at.strftime('%d %b %Y at %H:%M:%S') %>
                  </div>
                </div>

            </div>
            <div class="modal-footer">
                <%= link_to 'Close', '#', class: "btn btn-default", data: {dismiss: "modal"}%>
            </div>
        </div>
    </div>
</div>
