<div class="tab-pane fade in" id="opportunityNotes">
    <h4>Opportunity Notes</h4>
    <div class="panel panel-default panel-body">
        <%= simple_form_for [@opportunity, @note, Note.new], remote: true do |f| %>
        <%= f.input :title %>
        <%= f.input :description %>
        <%= f.button :submit %>
        <% end %>
    </div>
    <br>

    <div class="note">
      <%= render 'notes/note' %>
    </div>
</div>
