<h4>Account Timeline &middot History</h4>
<% acc = @account.acctimelines.order('created_at DESC').includes(:user) %>
<% if acc.blank? %>
<p>Every changes regarding accounts will be recorded here.</p>
<% else %>

<% acc.each do |timeline| %>
<div class="panel panel-default panel-body">
    <div class="media">
        <div class="media-left" style="padding-top: 6px;">
            <%= image_tag('http://placehold.it/25x25', class: "media-object")%>
        </div>
        <div class="media-body">
            <small>
                <%= link_to timeline.user.name, user_path(timeline.user.id) %>
                <%= timeline.action %>
                <strong><%= timeline.nactivity.truncate(50) %></strong>
                <div class="pull-right">
                    <%= link_to account_acctimeline_path(@account, timeline),
                method: :delete do %>
                    <i class="fa fa-times"></i>
                    <% end %>
                </div>
            </small>
            <h5 style="margin-top: -2px;">
                <small>
                    <%= timeline.created_at.strftime('%d %b %Y') %>
                    &middot
                    <%= time_ago_in_words(timeline.created_at) %>
                    ago
                </small>
                <h5></div>
            </div>
        </div>
        <% end %>
        <% end %>
