<div class="container">
    <h3>Search Results</h3>
    <hr>
    <% if @results.blank? %>
    No results match
<% else %>

    <% @results.each do |result| %>


        <% if result._index == "accounts" %>
        <h4><%= link_to result.account_name, account_path(result.id) %></h4>
        <%= result.account_type %>,
        <%= result.description %>,
        <%= result.email %>,
        <%= result.phone %>
        <br>

        <% elsif result._index == "contacts" %>
        <h4><%= link_to result.name, contacts_path %></h4>
        <%= result.title %>,
        <%= result.department %>,
        <%= result.email %>,
        <%= result.phone %>
        <br>

        <% elsif result._index == "opportunities" %>
        <h4><%= link_to result.name, opportunity_path(result.id) %></h4>
        <%= result.name %>,
        <%= result.description %>,
        <%= result.status %>,
        <%= result.amount %>
        <br>

        <% elsif result._index == "tasks" %>
        <h4><%= link_to result.description, tasks_path(anchor: "task-taskInfo-#{result.id}") %></h4>

        <% elsif result._index == "calls" %>
        <h4><%= link_to result.description, calls_path(anchor: "call-callInfo-#{result.id}") %></h4>

        <% elsif result._index == "events" %>
        <h4><%= link_to result.description, events_path(anchor: "event-eventInfo-#{result.id}") %></h4>

        <% elsif result._index == "stages" %>
        <h4><%= link_to result.name, opportunity_path(result.id) %></h4>
        <%= result.status %>
        <br>

        <% elsif result._index == "users" %>
        <h4><%= link_to result.name, user_path(result.id) %></h4>

        <% end %>
    <br>
    <% end %>

    <div class="text-center">
    <%= paginate @results %>
    </div>

    <% end %>
</div>
