<div class="container">
    <h3>Search Results</h3>
    <hr>
    <% if @results.blank? %>
    No results match
<% else %>

    <% @results.each do |result| %>

    <div class="row">
      <div class="col-lg-6">
        <% if result._index == "accounts" %>
        <h4 style="margin-bottom: 0px;"><%= link_to result.name, account_path(result.id) %><br>
          <small>Account</small>
        </h4>
        <%= result.account_type %>,
        <%= result.description %>,
        <%= result.email %>,
        <%= result.phone %>
        <br>
        <% elsif result._index == "contacts" %>
        <% page_num = (result.id.to_i / 10) + 1 %>
        <h4 style="margin-bottom: 0px;"><%= link_to result.name, contacts_path(page: page_num, anchor: "contactInfo-#{result.id}") %><br>
          <small>Contact</small>
        </h4>
        <%= result.title %>,
        <%= result.department %>,
        <%= result.email %>,
        <%= result.phone %>
        <br>

        <% elsif result._index == "opportunities" %>
        <h4 style="margin-bottom: 0px;"><%= link_to result.name, opportunity_path(result.id) %><br>
          <small>Opportunity</small>
        </h4>
        <%= result.description.truncate(200) %>,
        Status: <%= result.status %>,
        Amount: RM<%= result.amount %>
        <br>

        <% elsif result._index == "tasks" %>
        <h4 style="margin-bottom: 0px;">
          <%= link_to result.description.truncate(50), opportunity_path(
          result.opportunity_id, anchor: "task-taskInfo-#{result.id}") %><br>
          <small>Task</small>
        </h4>

        <% elsif result._index == "calls" %>
        <h4 style="margin-bottom: 0px;">
          <%= link_to result.description.truncate(50), opportunity_path(
          result.opportunity_id, anchor: "call-callInfo-#{result.id}") %><br>
          <small>Call</small>
        </h4>

        <% elsif result._index == "events" %>
        <h4 style="margin-bottom: 0px;">
          <%= link_to result.description.truncate(50), opportunity_path(
          result.opportunity_id, anchor: "event-eventInfo-#{result.id}") %><br>
          <small>Event</small>
        </h4>

        <% elsif result._index == "stages" %>
        <h4 style="margin-bottom: 0px;">
          <%= link_to result.name, opportunity_path(result.opportunity_id) %><br>
          <small>Stage</small>
        </h4>
        <% if result.status == "Waiting" %>
        <%= result.status %>
        for previous stage
        <% else %>
        <%= result.status %>
        <% end %>
        <br>

        <% elsif result._index == "users" %>
        <h4 style="margin-bottom: 0px;">
          <%= link_to result.name, user_path(result.id) %><br>
          <small>User</small>
        </h4>
        <%= result.email %>
        <%= result.phone %>
        <%= result.title %>
        <%= result.department %>
        <% end %>
      </div>
    </div>
    <br>
    <% end %>

    <div class="text-center">
    <%= paginate @results %>
    </div>

    <% end %>
</div>
