<!-- Modal -->
<div id="taskInfo-<%= task.id %>" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">
                    Task
                </h4>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-lg-6">
                        <h5>
                            <small>Status</small>
                        </h5>
                        <% if task.complete == false %>
                        <span style="color: red;">Incomplete</span>
                        <% elsif task.complete == true %>
                        <span style="color: green;">Completed</span>
                        <% end %>

                    </div>
                    <div class="col-lg-6">
                        <h5>
                            <small>Due Date</small>
                        </h5>
                        <%= render 'tasks/calc_date', task: task %>

                    </div>
                </div>
                <br>
                <h5>
                    <small>Description</small>
                </h5>
                <%= simple_format h(task.description) %>
                <hr>
                <div class="row">
                    <div class="col-lg-6">
                        <h5>
                            <small>Task belongs to</small>
                        </h5>
                        <small><%= task.opportunity.business_type %></small><br>
                        <%= link_to task.opportunity.name,
                            opportunity_path(task.opportunity, anchor: "task-taskInfo-#{task.id}") %>
                    </div>
                    <div class="col-lg-6">
                      <h5>
                          <small>Task created by</small>
                      </h5>
                      <%= link_to task.user.name, user_path(task.user) %>
                    </div>
                </div>
                <br>
                <div class="row">
                <div class="col-lg-6">
                  <h5>
                      <small>Created at</small>
                  </h5>
                  <%= task.created_at.strftime('%d %b %Y at %H:%M:%S')%>
                </div>
                <div class="col-lg-6">
                  <h5>
                      <small>Last updated at</small>
                  </h5>
                  <%= task.updated_at.strftime('%d %b %Y at %H:%M:%S')%>
                </div>
              </div>

            </div>
            <div class="modal-footer">
                <%= link_to 'Close', '#', class: "btn btn-default", data: {dismiss: "modal"}%>
            </div>
        </div>
    </div>
</div>
