<div class="text-center">
<%= paginate @tasks %>
</div>

<div id="notice-task">
<%= render 'layouts/message' %>
</div>

<hr>

<div class="row">
    <div class="col-lg-1 col-xs-1 text-center">
        <strong>ID</strong>
    </div>
    <div class="col-lg-10 col-xs-6">
        <strong>Description</strong>
    </div>
    <div class="col-lg-2 col-xs-6">
        <strong>Due DateTime</strong>
    </div>
    <div class="col-lg-2 col-xs-6">
        <strong>Belongs to</strong>
    </div>
    <div class="col-lg-2 col-xs-6">
        <strong>Account Name</strong>
    </div>
    <div class="col-lg-1 col-xs-6">
        <strong>Created At DateTime</strong>
    </div>
    <div class="col-lg-2 col-xs-2 text-center">
      <strong>Action</strong>
    </div>
</div>

<% if @tasks.blank? %>
<hr>
<div class="text-center">
  No tasks found.<br><br>
Create task through <%= link_to 'opportunity', opportunities_path %>.
</div>
<% else %>

<% @tasks.each do |task| %>
<hr>
<div class="row">
    <div class="col-lg-1 col-xs-1 text-center"><%= task.id %></div>
    <div class="col-lg-2 col-xs-10">
      <%= link_to task.description.truncate(50), '#',
      data: {toggle: "modal", target: "#taskInfo-#{task.id}"} %>
    </div>
    <div class="col-lg-2 col-xs-6">
        <%= render 'tasks/calc_date', task: task %>
    </div>
    <div class="col-lg-2 col-xs-6">
      <%= link_to task.opportunity.name, opportunity_path(task.opportunity) %>
      <br>
      <small><%= task.opportunity.business_type %></small>
      <br><br>
    </div>
    <div class="col-lg-2 col-xs-6"><%= link_to task.opportunity.account.account_name,
    account_path(task.opportunity.account) %></div>
    <div class="col-lg-1 col-xs-6"><%= task.created_at.strftime('%d %b %Y at %H:%M:%S') %></div>
    <div class="col-lg-2 col-xs-2 text-center">
      <a href="#" class="dropdown-toggle btn btn-default" data-toggle="dropdown">
        <i class="caret"></i>
      </a>
      <ul class="dropdown-menu">
        <li><%= link_to "Show #{task.opportunity.business_type.downcase}",
	opportunity_path(task.opportunity, anchor: "task-taskInfo-#{task.id}") %></li>
        <li><%= link_to 'Edit', edit_opportunity_task_path(task.opportunity, task) %></li>
        <li><%= link_to 'Delete', opportunity_task_path(task.opportunity, task),
        method: :delete, data: {confirm: "Are you sure?"}, remote: true %></li>
      </ul>
    </div>
</div>

<%= render 'tasks/task_info', task: task %>
<% end %>
<br>
<div class="text-center">
<%= paginate @tasks %>
</div>
<% end %>
