<h4>Tasks</h4>
<hr>
<div id="notice-task"></div>
<% if @optask.blank? %>
No tasks found.
<% else %>

<div class="text-center">
  <%= page_entries_info @optask %><br>
  <%= paginate @optask, param_name: :task_page, remote: true %>
</div>

<ul class="list-group">
    <li class="list-group-item">
        <div class="row">
            <div class="col-lg-5">
                <strong>Description</strong>
            </div>
            <div class="col-lg-3">
                <strong>Due date</strong>
            </div>
            <div class="col-lg-2">
                <strong>Status</strong>
            </div>
            <div class="col-lg-2 text-center">
                <strong>Action</strong>
            </div>
        </div>
    </li>

    <% @optask.each do |task| %>
    <li class="list-group-item">
        <div class="row" id="task-<%= task.id %>">
            <div class="col-lg-5">
                <%= link_to task.description.truncate(50), '#',
                data: {toggle: "modal", target: "#taskInfo-#{task.id}"} %>
            </div>
            <div class="col-lg-3">
                <%= render 'tasks/calc_date', task: task %>
            </div>
            <div class="col-lg-2">
                <% if task.complete == false %>
                <span style="color: red;">Incomplete</span>
            <% else %>
                <span style="color: green;">Completed</span>
                <% end %>
            </div>
            <div class="col-lg-2 text-center">
                <a href="#" class="dropdown-toggle btn btn-default" data-toggle="dropdown">
                    <i class="caret"></i>
                </a>
                <ul class="dropdown-menu">
                  <% if task.complete == false %>
                      <li><%= link_to 'Mark as Completed',
                      update_task_status_opportunity_task_path(@opportunity, task),
                      remote: true %></li>
                  <% else %>
                      <li><%= link_to 'Mark as Incomplete',
                      update_task_status_opportunity_task_path(@opportunity, task),
                      remote: true %></li>
                  <% end %>
                    <li><%= link_to 'Show', '#', data: {toggle: "modal", target: "#taskInfo-#{task.id}"} %></li>
                    <li><%= link_to 'Edit Task', edit_opportunity_task_path(@opportunity, task) %></li>
                    <li><%= link_to 'Delete Task', opportunity_task_path(@opportunity, task),
            method: :delete, remote: true, data: {confirm: "Are you sure?"} %></li>
                </ul>
            </div>
        </div>
    </li>
    <%= render 'tasks/task_info', task: task %>
    <% end %>
</ul>
<div class="text-center">
  <%= page_entries_info @optask %><br>
  <%= paginate @optask, param_name: :task_page, remote: true %>
</div>
<% end %>
