<div id="notice-task">
<%= render 'layouts/message' %>
</div>

<hr>

<div class="row">
    <div class="col-lg-1 col-xs-1 text-center">
        <strong>ID</strong>
    </div>
    <div class="col-lg-2 col-xs-10">
        <strong>Description</strong>
        <br><br>
    </div>
    <div class="col-lg-2 col-xs-6">
        <strong>Due DateTime</strong>
    </div>
    <div class="col-lg-2 col-xs-6">
        <strong>Belongs to</strong>
        <br><br>
    </div>
    <div class="col-lg-2 col-xs-6">
        <strong>Account Name</strong>
    </div>
    <div class="col-lg-1 col-xs-6">
        <strong>Created At DateTime</strong>
        <br><br>
    </div>
    <div class="col-lg-2 col-xs-2 text-center">
      <strong>Action</strong>
    </div>
</div>

<% if @tasks.blank? %>
<hr>
<div class="text-center">
  No tasks found.<br><br>
  Create task through subject.
</div>
<% else %>

<% @tasks.each do |task| %>
<hr>
<div class="row">
    <div class="col-lg-1 col-xs-1 text-center">
      <span class="badge"><%= task.id %></span>
    </div>
    <div class="col-lg-2 col-xs-10">
      <%= link_to task.description.truncate(50), '#',
      data: {toggle: "modal", target: "#taskInfo-#{task.id}"} %>
      <br><br>
    </div>
    <div class="col-lg-2 col-xs-6">
        <%= render 'tasks/calc_date', task: task %>
    </div>
    <div class="col-lg-2 col-xs-6">
      <small><%= task.polytask_type %></small><br>
      <%= link_to task.polytask.name, opportunity_path(task.polytask) if task.polytask_type == "Opportunity" %>
      <%= link_to task.polytask.name, case_path(task.polytask) if task.polytask_type == "Case" %>
      <%= link_to task.polytask.name, marketing_path(task.polytask) if task.polytask_type == "Marketing" %>
      <br><br><br>
    </div>
    <div class="col-lg-2 col-xs-6">
      <small>Account</small><br>
      <% if task.polytask_type == "Account" %>
      <%= link_to task.polytask.name, account_path(task.polytask) %>
      <% elsif task.polytask_type == "Case" || task.polytask_type == "Opportunity" %>
      <%= link_to task.polytask.name, account_path(task.polytask) %>
      <% end %>
    </div>
    <div class="col-lg-1 col-xs-6">
      <%= task.created_at.strftime('%d %b %Y at %H:%M:%S') %>
      <br><br><br>
    </div>
    <div class="col-lg-2 col-xs-2 text-center">
      <a href="#" class="dropdown-toggle btn btn-default" data-toggle="dropdown">
        <i class="caret"></i>
      </a>
      <ul class="dropdown-menu">
        <% if task.polytask_type == "Opportunity" %>
        <li><%= link_to "Show #{task.polytask_type.downcase}",
        opportunity_path(task.polytask, anchor: "task-taskInfo-#{task.id}") %></li>
        <li><%= link_to 'Edit', edit_opportunity_task_path(task.polytask, task) %></li>
        <li><%= link_to 'Delete', opportunity_task_path(task.polytask, task),
        method: :delete, data: {confirm: "Are you sure?"}, remote: true %></li>
        <% elsif task.polytask_type == "Marketing" %>
        <li><%= link_to "Show #{task.polytask_type.downcase}",
        marketing_path(task.polytask, anchor: "task-taskInfo-#{task.id}") %></li>
        <li><%= link_to 'Edit', edit_marketing_task_path(task.polytask, task) %></li>
        <li><%= link_to 'Delete', marketing_task_path(task.polytask, task),
        method: :delete, data: {confirm: "Are you sure?"}, remote: true %></li>
        <% elsif task.polytask_type == "Case" %>
        <li><%= link_to "Show #{task.polytask_type.downcase}",
        case_path(task.polytask, anchor: "task-taskInfo-#{task.id}") %></li>
        <li><%= link_to 'Edit', edit_case_task_path(task.polytask, task) %></li>
        <li><%= link_to 'Delete', case_task_path(task.polytask, task),
        method: :delete, data: {confirm: "Are you sure?"}, remote: true %></li>
        <% end %>
      </ul>
    </div>
</div>

<%= render 'tasks/task_info', task: task %>
<% end %>
<br>
<div class="text-center">
<%= paginate @tasks %>
</div>
<% end %>
