<!-- Modal -->
<div id="taskInfo-<%= task.id %>" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">
                    <small>Task</small>
                </h4>
                <div class="row">
                  <div class="col-lg-4">
                    <h4>
                      <small>Due Date</small><br>
                      <%= render 'tasks/calc_date', task: task %>
                    </h4>
                  </div>
                  <div class="col-lg-3">
                    <h4>
                      <small>Status</small><br>
                      <% if task.complete == false %>
                      <span style="color: red;">Incomplete</span>
                      <% elsif task.complete == true %>
                      <span style="color: green;">Completed</span>
                      <% end %>
                    </h4>
                  </div>
                  <div class="col-lg-5">
                    <h4>
                      <small>Created at</small><br>
                      <%= task.created_at.strftime('%d %b %Y at %H:%M:%S')%>
                    </h4>
                  </div>
                </div>
            </div>
            <div class="modal-body">
              <h4><small>Description</small></h4>
                <%= simple_format h(task.description) %>
            </div>
            <div class="modal-footer">

                <%= link_to 'Close', '#', class: "btn btn-default", data: {dismiss: "modal"}%>
            </div>
        </div>
    </div>
</div>
