<div class="container">
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
          <h3>Edit Task</h3>
          <hr>
            <%= simple_form_for [@opportunity, @task] do |f| %>
            <%= f.label "Account Name"%><br>
            <%= link_to @opportunity.account.account_name, account_path(@opportunity.account) %>
            <br><br>

            <%= f.label "Opportunity Name"%><br>
            <%= link_to @opportunity.name, opportunity_path(@opportunity) %>
            <br><br>
            <%= f.input :description, label: "Task Description", placeholder: "To-do" %>
            <%= f.input :due_date, label: "Task Due Date",as: :date_time_picker %>

            <%= check_box_tag "completed" %>
            Mark as
            <% if @task.complete %>
            Incomplete
            <% else %>
            Completed
            <% end %>
            <br><br>
            <%= f.button :submit, class: "btn btn-success" %>
            <% end %>
        </div>
        <div class="col-lg-3"></div>
    </div>
</div>
