<div class="tab-pane fade in" id="accountDocs">
    <h4>Account Related Documents</h4>

    <div class="panel panel-default panel-body">
        <%= simple_form_for [@account], html: {multipart: true} do |f| %>
        <%= f.input :account_name, as: :hidden %>
        <%= f.label "Upload Documents" %>
        <%= file_field_tag "accdocs[]",type: :file, multiple: true %>
        <%= f.hint "Can upload multiple files. Only pdf/doc type"%>
        <%= f.button :submit, "Submit Documents" %>
        <% end %>
    </div>

    <div id="doc">
        <%= render 'accdocuments/account_doc' %>
    </div>

</div>
