<h2>Notifications</h2>

<div class="text-center">
    <%= page_entries_info @notifications %><br>
    <%= paginate @notifications %>
</div>

<hr>

<% if @notifications.blank? %>
There are no notifications yet.
<% else %>
<div class="container">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
        <% @notifications.each do |noty| %>
        <div class="media">
            <div class="media-left">
                <% if noty.user.avatar.blank? %>
                <%= letter_avatar_tag(noty.user.name, 40, class: "media-object") %>
            <% else %>
                <%= image_tag(noty.user.avatar.url(:small), class: "media-object")%>
                <% end %>
            </div>
            <div class="media-body">
              <h5>
                <strong><%= noty.user.name %></strong>
                <%= noty.action %>
                <strong><%= noty.nactivity %></strong>
                on
                <%= noty.activity_type.downcase %>
                <% if noty.activity_type == "Opportunity" %>
                <strong><%= Opportunity.find_by_id(noty.activity_id).name %></strong>
                <% elsif noty.activity_type == "Account" %>
                <strong><%= Account.find_by_id(noty.activity_id).account_name %></strong>
                <% end %>
                <br>
                    <small>
                        <%= time_ago_in_words(noty.created_at) %>
                        ago
                    </small>
                </h5>
            </div>
        </div>
        <hr>
        <% end %>
        <div class="text-center">
            <%= page_entries_info @notifications %><br>
            <%= paginate @notifications %>
        </div>
    </div>
    <div class="col-lg-3"></div>
</div>
<% end %>
