<h2>Notifications</h2>
<%= pluralize(@notifications.count, 'item')%>
<hr>

<% if @notifications.blank? %>
There are no notifications yet.
<% else %>
<div class="container">
  <div class="col-lg-3"></div>
  <div class="col-lg-6">
  <% @notifications.each do |noty| %>
  <div class="media">
    <div class="media-left">
      <% if noty.user.avatar.blank? %>
      <%= letter_avatar_tag(noty.user.name, 40, class: "media-object") %>
      <% else %>
      <%= image_tag(noty.user.avatar.url(:small), class: "media-object")%>
      <% end %>
    </div>
    <div class="media-body">
      <strong><%= noty.user.name %></strong>
      <%= noty.action %>
      <strong><%= noty.nactivity %></strong>
      <br>
      <%= time_ago_in_words(noty.created_at) %> ago
    </div>
  </div>
  <hr>
  <% end %>
</div>
<div class="col-lg-3"></div>
</div>
<% end %>
