<div class="row">
    <div class="col-lg-12">
        <div class="media">
            <div class="media-left">
                <div style="padding-top: 20px;"></div>
                <%= letter_avatar_tag('Notifications', 50, class: "media-object") %>
            </div>
            <div class="media-body">
                <h3>Notifications<br>
                    <small>All Timelines</small>
                </h3>
            </div>
        </div>
    </div>
</div>

<hr>

<div class="text-center">
    <%= page_entries_info @notifications %><br>
    <%= paginate @notifications %>
</div>

<% if @notifications.blank? %>
No notifications found.
<% else %>
<div class="container">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
        <%= render 'notifications/nav_noty', nav_noty: @notifications %>
    </div>
    <div class="col-lg-3"></div>
</div>
<% end %>
<br>
<div class="text-center">
    <%= page_entries_info @notifications %><br>
    <%= paginate @notifications %>
</div>
