<h2>Notifications</h2>

<div class="text-center">
    <%= page_entries_info @notifications %><br>
    <%= paginate @notifications %>
</div>

<hr>

<% if @notifications.blank? %>
There are no notifications yet.
<% else %>
<div class="container">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
        <% @notifications.each do |noty| %>
        <%= link_to update_read_status_path(noty) do %>
        <% if noty.read == true %>
        <div class="media">
        <% else %>
        <div class="media" style="background-color: #d3d3d3;">
        <% end %>
            <div class="media-left">
                <% if noty.user.avatar.blank? %>
                <%= letter_avatar_tag(noty.user.name, 40, class: "media-object") %>
            <% else %>
                <%= image_tag(noty.user.avatar.url(:noty), class: "media-object")%>
                <% end %>
            </div>
            <div class="media-body">
                <p>
                    <strong><%= noty.user.name %></strong>
                    <%= noty.action %>
                    <strong><%= noty.nactivity %></strong>
                    <% unless noty.action == "created account" ||
                      noty.action == "added attachment file to" %>
                    on
                    <%= noty.activity_type.downcase %>
                    <% if noty.activity_type == "Opportunity" %>
                    <strong><%= noty.activity.name %></strong>
                    <% elsif noty.activity_type == "Account" %>
                    <strong><%= noty.activity.account_name %></strong>
                    <% end %>

                    <% end %>
                    <br>
                    <small>
                        <%= time_ago_in_words(noty.created_at) %>
                        ago
                    </small>
                </p>
            </div>
        </div>
        <% end %>
        <% end %>
        <div class="text-center">
            <%= page_entries_info @notifications %><br>
            <%= paginate @notifications %>
        </div>
    </div>
    <div class="col-lg-3"></div>
</div>
<% end %>
