<div class="row">
    <div class="col-lg-2">
        <small>Account</small>
        <br>
        <h4>
            <% if @marketing.account.blank? %>
            <span style="color: red;">Account not assigned</span>
        <% else %>
            <%= link_to @marketing.account.name, account_path(@marketing.account) %>
            <% end %>
        </h4>
        <br>
    </div>
    <div class="col-lg-2">
        <small>Amount</small>
        <br>
        <h4>
            <% if @marketing.amount.blank? %>
            <span style="color: red;">Not specified</span>
        <% else %>
            RM <%= sprintf('%.2f' % @marketing.amount) %>
            <% end %>
        </h4>
        <br>
    </div>

    <div class="col-lg-2">
        <small>Current Stage</small>
        <br>
        <h4>
          <% if @marketing.stages.blank? %>
            <span style="color: red;">Not specified</span>
          <% else %>
            <% @marketing.stages.each_with_index do |stage, index| %>

            <% if stage.status == "In Progress" %>
              <%= stage.name %><br>
              <% if stage.id == @marketing.stages.last.id %>
              <small>Final stage in progress</small>
              <% else %>
              <small>Stage <%= index+1 %> In Progress</small>
              <% end %>
            <% elsif stage.status == "Completed" && stage.id == @marketing.stages.last.id %>
              <%= stage.name %><br>
              <small>Final stage completed</small>
            <% end %>

            <% end %>
          <% end %>
        </h4>
        <br>
    </div>

    <div class="col-lg-2">
        <small>Status</small>
        <br>
        <h4>
            <%= @marketing.status %>
        </h4>
        <br>
    </div>

    <% if @marketing.status == "Closed-Won" ||
      @marketing.status == "Closed-Loss" ||
      @marketing.status == "Approved" ||
      @marketing.status == "Solved" %>
    <div class="col-lg-2">
        <small>
          <%= @marketing.status %>
          Date
        </small>
        <br>
        <h4>

        </h4>
        <br>
    </div>
    <% end %>

    <div class="col-lg-2">
        <small>Marketing Owner</small>
        <br>
        <h4><%= link_to @marketing.user.name, user_path(@marketing.user) %></h4>
    </div>
</div>
