<div class="row">
    <div class="col-lg-6">
        <small>Name</small>
        <h4>
            <% if @case.name.blank? %>
            <span style="color: red;">
                Name not specified
            </span>
        <% else %>
            <%= @case.name %>
            <% end %>
        </h4>
        <br>

        <small>Account Name</small>
        <h4>
            <% if @case.account_id.blank? %>
            <span style="color: red;">
                Account not specified
            </span>
        <% else %>
            <%= link_to @case.account.name, account_path(@case.account) %>
            <% end %>
        </h4>
        <br>
    </div>
    <div class="col-lg-6">
        <small>Amount</small>
        <h4>
            <% if @case.amount.blank? %>
            <span style="color: red;">
                Amount not specified
            </span>
        <% else %>
            RM <%= sprintf('%.2f' % @case.amount) %>
            <% end %>
        </h4>
        <br>

        <small>Status</small>
        <h4>
            <%= @case.status %>
        </h4>
    </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <small>Description</small>
    <h4>
        <% if @case.description.blank? %>
        <span style="color: red;">
            Description not specified
        </span>
    <% else %>
        <%= @case.description %>
        <% end %>
    </h4>
    <br>
  </div>
</div>
<hr>
<div class="row">
<div class="col-lg-6">
  <small>Case Created at</small>
  <h4>
      <%= @case.created_at.strftime('%d %b %Y  %H:%M:%S') %>
  </h4>
</div>
<div class="col-lg-6">
  <small>Case Last Updated at</small>
  <h4>
      <%= @case.updated_at.strftime('%d %b %Y  %H:%M:%S') %>
  </h4>
</div>
</div>
