<!-- Modal -->
<div id="callInfo-<%= call.id %>" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h5 class="modal-title">
                    Call Log
                </h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-6">
                        <h5>
                            <small>Call Datetime</small>
                        </h5>
                        <% if call.call_datetime.blank? %>
                        <span style="color: red;">
                            Date not specified
                        </span>
                    <% else %>
                        <%= call.call_datetime.strftime('%d %b %Y at %H:%M:%S') %>
                        <% end %>
                        <br><br>
                    </div>
                    <div class="col-lg-6">
                        <h5>
                            <small>Durations</small>
                        </h5>
                        <% if call.duration.blank? %>
                        <span style="color: red;">Not specified</span>
                    <% else %>
                        <%= pluralize(call.duration, 'minute') %>
                        <% end %>

                    </div>
                </div>
                <br>
                <h5>
                    <small>Description</small>
                </h5>
                <%= simple_format h(call.description) %>
                <hr>
                <div class="row">
                    <div class="col-lg-6">
                        <h5>
                            <small>Call belongs to</small>
                        </h5>
                        <small><%= call.opportunity.business_type %></small><br>
                        <%= link_to call.opportunity.name,
                            opportunity_path(call.opportunity, anchor: "call-callInfo-#{call.id}")%>
                            <br><br>
                    </div>
                    <div class="col-lg-6">
                        <h5>
                            <small>Call created by</small>
                        </h5>
                        <%= link_to call.user.name, user_path(call.user) %>
                    </div>
                </div>
                <br>
                <div class="row">
                  <div class="col-lg-6">
                    <h5>
                        <small>Created at</small>
                    </h5>
                    <%= call.created_at.strftime('%d %b %Y at %H:%M:%S') %>
                    <br><br>
                  </div>
                  <div class="col-lg-6">
                    <h5>
                        <small>Last updated at</small>
                    </h5>
                    <%= call.updated_at.strftime('%d %b %Y at %H:%M:%S') %>
                  </div>
                </div>

            </div>
            <div class="modal-footer">
                <%= link_to 'Close', '#', class: "btn btn-default", data: {dismiss: "modal"}%>
            </div>
        </div>
    </div>
</div>
