<h4>Calls</h4>
<div id="notice-call"></div>
<% if @opportunity.calls.blank? %>
No call logs created yet.
<% else %>
<ul class="list-group">
    <li class="list-group-item">
        <div class="row">
            <div class="col-lg-5">
                <strong>Description</strong>
            </div>
            <div class="col-lg-2">
                <strong>Duration</strong>
            </div>
            <div class="col-lg-3">
                <strong>Call Date Time</strong>
            </div>
            <div class="col-lg-2">
                <strong>Action</strong>
            </div>
        </div>
    </li>
    <% @opportunity.calls.each do |call| %>
    <li class="list-group-item">
        <div class="row" id="c<%= call.id %>">
            <div class="col-lg-5">
                <%= call.description %>
            </div>
            <div class="col-lg-2">
                <% if call.duration.blank? %>
                <span style="color: red;">Duration not specified</span>
            <% else %>
                <%= call.duration %>
                <% end %>
            </div>
            <div class="col-lg-3">
                <% if call.call_datetime.blank? %>
                <span style="color: red;">Date not specified</span>
            <% else %>
                <%= call.call_datetime.strftime('%d %b %Y %H:%M:%S') %>
                <% end %>
            </div>
            <div class="col-lg-2">
                <a href="#" class="dropdown-toggle btn btn-default" data-toggle="dropdown">
                    <i class="caret"></i>
                </a>
                <ul class="dropdown-menu">
                    <li><%= link_to 'Edit Call', '#',
                    data: {toggle: "modal", target: "#call-#{call.id}"} %></li>
                    <li><%= link_to 'Delete Call', opportunity_call_path(@opportunity, call),
                method: :delete, remote: true %></li>
                </ul>
            </div>
        </div>
    </li>

    <!-- Modal -->
    <div id="call-<%= call.id %>" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Edit Call</h4>
                </div>
                <div class="modal-body">
                  <%= simple_form_for [@opportunity, call], remote: true do |f| %>
                  <%= f.input :description, placeholder: "Call description" %>
                  <div class="row">
                    <div class="col-lg-6">
                      <%= f.input :call_datetime, label: "Call Date Time", as: :date_time_picker %>
                    </div>
                    <div class="col-lg-6">
                      <%= f.input :duration, label: "Call Duration",hint: "in minutes",
                      placeholder: "Insert number" %>
                    </div>
                  </div>

                </div>
                <div class="modal-footer">
                  <%= f.button :submit, class: "btn btn-success" %>
                  <% end %>
                    <%= link_to 'Close', '#', class: "btn btn-default", data: {dismiss: "modal"} %>
                </div>
            </div>
        </div>
    </div>

    <% end %>
</ul>
<% end %>
