<div id="call_list" class="tab-pane fade in">

    <div class="call">
      <%= render 'calls/call' %>
    </div>

    <% if @opportunity.calls.blank? %>
    No calls found.
    <% else %>
      <% @opportunity.calls.each do |call| %>
      <!-- Modal -->
      <div id="call-<%= call.id %>" class="modal fade" role="dialog">
          <div class="modal-dialog">

              <!-- Modal content-->
              <div class="modal-content">
                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Edit Call</h4>
                  </div>
                  <div class="modal-body">
                    <%= simple_form_for [@opportunity, call], remote: true do |f| %>
                    <%= f.input :description, placeholder: "Call description" %>
                    <div class="row">
                      <div class="col-lg-6">
                        <%= f.input :call_datetime, label: "Call Date Time", as: :date_time_picker %>
                      </div>
                      <div class="col-lg-6">
                        <%= f.input :duration, label: "Call Duration",hint: "in minutes",
                        placeholder: "Insert number" %>
                      </div>
                    </div>

                  </div>
                  <div class="modal-footer">
                    <%= f.button :submit, class: "btn btn-success" %>
                    <% end %>
                      <%= link_to 'Close', '#', class: "btn btn-default", data: {dismiss: "modal"} %>
                  </div>
              </div>
          </div>
      </div>
      <% end %>
    <% end %>

</div>
