<div class="tab-pane fade in active" id="userActivities">

    <div class="row">
        <div class="col-lg-6" id="user_accounts">
            <%= render 'users/user_accounts' %>
        </div>
        <div class="col-lg-6" id="user_opportunities">
            <%= render 'users/user_opportunities' %>
        </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-lg-6" id="user_marketings">
          <%= render 'users/user_marketings' %>
      </div>
      <div class="col-lg-6" id="user_cases">
          <%= render 'users/user_cases' %>
      </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-lg-4" id="user_tasks">
            <%= render 'users/user_tasks' %>
        </div>
        <div class="col-lg-4" id="user_calls">
            <%= render 'users/user_calls' %>
        </div>
        <div class="col-lg-4" id="user_events">
            <%= render 'users/user_events' %>
        </div>
    </div>
</div>
