<div class="tab-pane fade in active" id="userActivities">

    <div class="row">
        <div class="col-lg-6">
            <%= render 'users/user_accounts' %>
        </div>
        <div class="col-lg-6">
            <%= render 'users/user_opportunities' %>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-lg-4">
            <%= render 'users/user_tasks' %>
        </div>
        <div class="col-lg-4">
            <%= render 'users/user_calls' %>
        </div>
        <div class="col-lg-4">
            <%= render 'users/user_events' %>
        </div>
    </div>
</div>
