<div class="row">
    <div class="col-lg-1">1</div>
    <div class="col-lg-3">
        <!-- Name -->
        <%= user.name %>
    </div>
    <div class="col-lg-3">
        <!-- Phone -->
        <%= user.phone %>
    </div>
    <div class="col-lg-3">
        <!-- Email -->
        <%= user.email %>
    </div>
    <div class="col-lg-2">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <i class="caret"></i>
      </a>
      <ul class="dropdown-menu">
        <li><%= link_to 'Show', '#', data: {toggle: "modal", target: "#showUser"} %></li>
        <li><%= link_to 'Edit', '#' %></li>
        <li><%= link_to 'Delete', user_registration_path(user), method: :delete,
        data: {confirm: "Are you sure?"} %></li>
      </ul>
    </div>
</div>
