<div class="tab-pane fade in" id="userDetails">
    <br>
    <h4>User Details</h4>
    <hr>

    <div class="row">
        <div class="col-lg-1">
            <i class="fa fa-envelope"></i>
        </div>
        <div class="col-lg-11">
            <% if @user.email.blank? && current_user.id == @user.id %>
            Not specified
            <% if current_user.id == @user.id %>
            <%= link_to edit_user_registration_path do %>
            <i class="fa fa-pencil"></i>
            Edit
            <% end %>
            <% end %>
        <% else %>
            <%= @user.email %>
            <% end %>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-1">
            <i class="fa fa-phone"></i>
        </div>
        <div class="col-lg-11">
            <% if @user.phone.blank? && current_user.id == @user.id %>
            Not specified
            <% if current_user.id == @user.id %>
            <%= link_to edit_user_registration_path do %>
            <i class="fa fa-pencil"></i>
            Edit
            <% end %>
            <% end %>
        <% else %>
            <%= @user.phone %>
            <% end %>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-1">
            <i class="fa fa-map-marker"></i>
        </div>
        <div class="col-lg-11">
            <% if @user.address.blank? && current_user.id == @user.id %>
            Not specified
            <% if current_user.id == @user.id %>
            <%= link_to edit_user_registration_path do %>
            <i class="fa fa-pencil"></i>
            Edit
            <% end %>
            <% end %>
        <% else %>
            <%= @user.address %>
            <% end %>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-1">
            <i class="fa fa-id-card"></i>
        </div>
        <div class="col-lg-11">
            <% if @user.title.blank? %>
            Not specified
            <% if current_user.id == @user.id %>
            <%= link_to edit_user_registration_path do %>
            <i class="fa fa-pencil"></i>
            Edit
            <% end %>
            <% end %>
        <% else %>
            <%= @user.title %>
            <% end %>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-1">
            <i class="fa fa-building"></i>
        </div>
        <div class="col-lg-11">

            <% if @user.department.blank? %>
            Not specified
            <% if current_user.id == @user.id %>
            <%= link_to edit_user_registration_path do %>
            <i class="fa fa-pencil"></i>
            Edit
            <% end %>
            <% end %>
        <% else %>
            <%= @user.department %>
            <% end %>
        </div>
    </div>

</div>
