<div class="tab-pane fade in" id="userDetails">
    <br>
    <div class="row">
      <div class="col-lg-8">
    <h4>User Details</h4>
  </div>
  <div class="col-lg-4 text-right">
  <% if current_user.id == @user.id %>
  <%= link_to edit_user_registration_path, class: "btn btn-default" do %>
  <i class="fa fa-pencil"></i>
  Edit details
  <% end %>
  <% end %>
</div>
    </div>
    <hr>

    <div class="row">
        <div class="col-lg-2">
            <i class="fa fa-envelope"></i>
            Email
        </div>
        <div class="col-lg-10">
            <% if @user.email.blank? %>
            <span style="color: red;">Not specified</span>
        <% else %>
            <%= @user.email %>
            <% end %>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-2">
            <i class="fa fa-phone"></i>
            Telephone
        </div>
        <div class="col-lg-10">
            <% if @user.phone.blank? %>
            <span style="color: red;">Not specified</span>
        <% else %>
            <%= @user.phone %>
            <% end %>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-2">
            <i class="fa fa-map-marker"></i>
            Address
        </div>
        <div class="col-lg-10">
            <% if @user.address.blank? %>
            <span style="color: red;">Not specified</span>
        <% else %>
            <%= @user.address %>
            <% end %>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-2">
            <i class="fa fa-id-card"></i>
            Position
        </div>
        <div class="col-lg-10">
            <% if @user.title.blank? %>
            <span style="color: red;">Not specified</span>
        <% else %>
            <%= @user.title %>
            <% end %>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-2">
            <i class="fa fa-building"></i>
            Department
        </div>
        <div class="col-lg-10">
            <% if @user.department.blank? %>
            <span style="color: red;">Not specified</span>
        <% else %>
            <%= @user.department %>
            <% end %>
        </div>
    </div>

</div>
