
<br>
<h4>Opportunities Registered</h4>
<hr>
<% if @userop.blank? %>
<p>No opportunities yet.</p>
<% else %>

<div class="row">
    <div class="col-lg-4">
        <strong>Name</strong>
    </div>
    <div class="col-lg-3">
        <strong>Status</strong>
    </div>
    <div class="col-lg-5">
        <strong>Created at DateTime</strong>
    </div>
</div>
<% @userop.each do |op| %>
<div class="row">
    <div class="col-lg-4">
        <%= link_to op.name, opportunity_path(op) %>
    </div>
    <div class="col-lg-3">
        <% if op.status == "Closed-Loss"%>
        <span style="color: red;"><%= op.status %></span>
        <% elsif op.status == "Closed-Won" %>
        <span style="color: red;"><%= op.status %></span>
    <% else %>
        <%= op.status %>
        <% end %>
    </div>
    <div class="col-lg-5">
        <%= op.created_at.strftime('%d %b %Y %H:%M:%S') %>
    </div>
</div>
<% end %>
<div class="text-center">
    <%= paginate @userop, param_name: :page_op, remote: true %>
</div>
<% end %>
