<div id="notice-event">
    <%= render 'layouts/message' %>
</div>

<hr>
<div class="row">
    <div class="col-lg-1 col-xs-1 text-center">
        <strong>ID</strong>
    </div>
    <div class="col-lg-2 col-xs-10">
        <strong>Description</strong>
        <br><br>
    </div>
    <div class="col-lg-2 col-xs-6">
        <strong>Event DateTime</strong>
    </div>
    <div class="col-lg-2 col-xs-6">
        <strong>Belongs to</strong>
        <br><br>
    </div>
    <div class="col-lg-2 col-xs-6">
        <strong>Account Name</strong>
    </div>
    <div class="col-lg-1 col-xs-6">
        <strong>Created At DateTime</strong>
        <br><br>
    </div>
    <div class="col-lg-2 col-xs-2 text-center">
      <strong>Action</strong>
    </div>
</div>
<% if @events.blank? %>
<hr>
<div class="text-center">
  No events found.<br><br>
  Create event through <%= link_to 'opportunity', opportunities_path %>.
</div>
<% else %>

<% @events.each do |event| %>
<hr>
<div class="row">
    <div class="col-lg-1 col-xs-1 text-center">
      <span class="badge"><%= event.id %></span>
    </div>
    <div class="col-lg-2 col-xs-10">
    <%= link_to event.description.truncate(50),'#',
    data: {toggle: "modal", target: "#eventInfo-#{event.id}"} %>
    <br><br>
    </div>
    <div class="col-lg-2 col-xs-6">
        <%= render 'events/calc_date', event: event %>
    </div>
    <div class="col-lg-2 col-xs-6">
      <small><%= event.opportunity.business_type %></small><br>
      <%= link_to event.opportunity.name, opportunity_path(event.opportunity) %>
      <br><br><br>
    </div>
    <div class="col-lg-2 col-xs-6">
      <small>Account</small><br>
      <%= link_to event.opportunity.account.account_name,
      account_path(event.opportunity.account) %>
    </div>
    <div class="col-lg-1 col-xs-6">
      <%= event.created_at.strftime('%d %b %Y at %H:%M:%S') %>
      <br><br><br>
    </div>
    <div class="col-lg-2 col-xs-2 text-center">
      <a href="#" class="dropdown-toggle btn btn-default" data-toggle="dropdown">
        <i class="caret"></i>
      </a>
      <ul class="dropdown-menu">
        <li><%= link_to 'Show', opportunity_path(event.opportunity, anchor: "event-eventInfo-#{event.id}") %></li>
        <li><%= link_to 'Delete', opportunity_event_path(event.opportunity, event),
        method: :delete, data: {confirm: "Are you sure?"}, remote: true %></li>
      </ul>
    </div>
</div>

<%= render 'events/event_info', event: event %>
<% end %>
<br>
<div class="text-center">
    <%= paginate @events %>
</div>
<% end %>
