<!-- Modal -->
<div id="eventInfo-<%= event.id %>" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h5 class="modal-title">
                    Event
                </h5>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-lg-6">
                        <h5>
                            <small>Event Date</small>
                        </h5>
                        <%= render 'events/calc_date', event: event %>
                        <br><br>
                    </div>
                    <div class="col-lg-6">
                        <h5>
                            <small>Status</small>
                        </h5>
                        <% if event.complete == false %>
                        <span style="color: red;">
                            Not attend
                        </span>
                        <% elsif event.complete == true %>
                        <span style="color: green;">
                            Will Attend
                        </span>
                        <% end %>

                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-lg-6">
                        <h5>
                            <small>Event belongs to</small>
                        </h5>
                        <small><%= event.polyevent_type %></small><br>
                        <%= link_to event.polyevent.name,
                        opportunity_path(event.polyevent, anchor: "event-eventInfo-#{event.id}") %>
                        <br><br>
                    </div>
                    <div class="col-lg-6">
                        <h5>
                            <small>Created at</small>
                        </h5>
                        <%= event.created_at.strftime('%d %b %Y at %H:%M:%S') %>
                    </div>
                </div>
                <br>
                <h5>
                    <small>Description</small>
                </h5>
                <%= simple_format h(event.description) %>
            </div>
            <div class="modal-footer">
                <%= link_to 'Close', '#', class: "btn btn-default", data: {dismiss: "modal"}%>
            </div>
        </div>
    </div>
</div>
