<h4>Events</h4>
<div id="notice-event"></div>
<% if @opportunity.events.blank? %>
No event created yet.
<% else %>
<ul class="list-group">
    <li class="list-group-item">
        <div class="row">
            <div class="col-lg-5">
                <strong>Description</strong>
            </div>
            <div class="col-lg-3">
                <strong>Due date</strong>
            </div>
            <div class="col-lg-2">
                <strong>Status</strong>
            </div>
            <div class="col-lg-2">
                <strong>Action</strong>
            </div>
        </div>
    </li>
</ul>
<% @opportunity.events.each do |event| %>
<li class="list-group-item">
    <div class="row" id="event-<%= event.id %>">
        <div class="col-lg-5">
            <%= link_to event.description.truncate(50), '#',
            data: {toggle: "modal", target: "#eventInfo-#{event.id}"} %>
        </div>
        <div class="col-lg-3">
            <% if event.event_date.blank? %>
            <span style="color: red;">Date not specified</span>
        <% else %>
            <% if event.event_date > Date.today %>
            <%= event.event_date.strftime('%d %b %Y') %><br>
            <small>
                (<%= distance_of_time_in_words(Time.now, event.event_date) %>
                left)
            </small>
            <% elsif event.event_date == Date.today %>
            <strong style="color: orange;">Today</strong><br>
            <small>(<%= Time.now.strftime('%d %b %Y') %>)</small>
        <% else %>
            <strong style="color: red;">Event passed</strong><br>
            <small>
                (<%= distance_of_time_in_words(Time.now, event.event_date) %>
                ago)
            </small>
            <% end %>
            <% end %>
        </div>
        <div class="col-lg-2">
            <% if event.complete == false %>
            <span style="color: red;">Not attend</span>
        <% else %>
            <span style="color: green;">Attended</span>
            <% end %>
        </div>
        <div class="col-lg-2">
            <a href="#" class="dropdown-toggle btn btn-default" data-toggle="dropdown">
                <i class="caret"></i>
            </a>
            <ul class="dropdown-menu">
            <li>
                <% if event.complete == false %>
                <%= link_to 'Mark as Attended', update_event_status_path(@opportunity, event),
                  remote: true %>
            <% else %>
                <%= link_to 'Mark as Not Attend', update_event_status_path(@opportunity, event),
                  remote: true %>
                <% end %>
            </li>
            <li><%= link_to 'Show', '#', data: {toggle: "modal", target: "#eventInfo-#{event.id}"}%></li>
            <li><%= link_to 'Edit Event', '#',
                    data: {toggle: "modal", target: "#eventModal-#{event.id}"} %></li>
            <li><%= link_to 'Delete Event', opportunity_event_path(@opportunity, event),
                method: :delete, remote: true, data: {confirm: "Are you sure?"} %></li>
        </ul>
    </div>
</div>
</li>

<!-- Modal -->
<div id="eventInfo-<%= event.id %>" class="modal fade" role="dialog">
<div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">
                <small>Event</small>
            </h4>
            <div class="row">
                <div class="col-lg-6">
                    <h4>
                        <small>Event Date</small><br>
                        <% if event.event_date.blank? %>
                        <span style="color: red;">
                            Date not specified
                        </span>
                    <% else %>
                        <% if event.event_date > Date.today %>
                        <%= event.event_date.strftime('%d %b %Y') %><br>
                        <small>
                            (<%= distance_of_time_in_words(Time.now, event.event_date) %>
                            left)
                        </small>
                        <% elsif event.event_date == Date.today %>
                        <strong style="color: orange;">Today</strong>
                        (<%= Time.now.strftime('%d %b %Y') %>)
                    <% else %>
                        <strong style="color: red;">Event passed</strong><br>
                        <small>
                            (<%= distance_of_time_in_words(Time.now, event.event_date) %>
                            ago)
                        </small>
                        <% end %>
                        <% end %>
                    </h4>
                </div>
                <div class="col-lg-6">
                    <h4>
                        <small>Status</small><br>
                        <% if event.complete == false %>
                        <span style="color: red;">
                            Not attended
                        </span>
                        <% elsif event.complete == true %>
                        <span style="color: green;">
                            Attended
                        </span>
                        <% end %>
                    </h4>
                </div>
            </div>
        </div>
        <div class="modal-body">
            <h4>
                <small>Description</small>
            </h4>
            <%= simple_format h(event.description) %>
        </div>
        <div class="modal-footer">

            <%= link_to 'Close', '#', class: "btn btn-default", data: {dismiss: "modal"}%>
        </div>
    </div>
</div>
</div>
<% end %>
<% end %>
