<h4>Events</h4>
<hr>
<div id="notice-event"></div>
<% if @opevent.blank? %>
No events found.
<% else %>

<ul class="list-group">
    <li class="list-group-item">
        <div class="row">
            <div class="col-lg-5">
                <strong>Description</strong>
            </div>
            <div class="col-lg-3">
                <strong>Due date</strong>
            </div>
            <div class="col-lg-2">
                <strong>Status</strong>
            </div>
            <div class="col-lg-2">
                <strong>Action</strong>
            </div>
        </div>
    </li>

<% @opevent.each do |event| %>
<li class="list-group-item">
    <div class="row" id="event-<%= event.id %>">
        <div class="col-lg-5">
            <%= link_to event.description.truncate(50), '#',
            data: {toggle: "modal", target: "#eventInfo-#{event.id}"} %>
            <br><br>
        </div>
        <div class="col-lg-3">
            <%= render 'events/calc_date', event: event %>
        </div>
        <div class="col-lg-2">
            <% if event.complete == false %>
            <span style="color: red;">Not attend</span>
        <% else %>
            <span style="color: green;">Will Attend</span>
            <% end %>
            <br><br>
        </div>
        <div class="col-lg-2">
            <a href="#" class="dropdown-toggle btn btn-default" data-toggle="dropdown">
                <i class="caret"></i>
            </a>
            <ul class="dropdown-menu">
            <li><%= link_to 'Show', '#', data: {toggle: "modal", target: "#eventInfo-#{event.id}"}%></li>
            <li><%= link_to 'Edit Event', edit_opportunity_event_path(@opportunity, event) %></li>
        </ul>
    </div>
</div>
</li>
<%= render 'events/event_info', event: event %>
<% end %>
</ul>
<div class="text-center">
  <%= paginate @opevent, param_name: :event_page, remote: true %>
</div>
<% end %>
<hr>
