<div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
      <h3>Edit Event</h3>
      <hr>
        <%= simple_form_for [@opportunity, @event] do |f| %>
        <%= f.label "Account Name" %><br>
        <%= link_to @opportunity.account.account_name, account_path(@opportunity.account) %>
        <br><br>
        <%= f.label "Opportunity Name" %><br>
        <%= link_to @opportunity.name, opportunity_path(@opportunity)%>
        <br><br>
        <%= f.input :description %>
        <%= f.input :event_date, as: :date_time_picker %>
        <%= check_box_tag "attended" %>
        Mark as
        <% if @event.complete == true %>
        Not Attend
        <% else %>
        Attended
        <% end %>
        <br><br>
        <%= f.button :submit, class: "btn btn-success" %>
        <% end %>
    </div>
    <div class="col-lg-3"></div>
</div>
