<div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
      <h3>Edit Event
        <small class="pull-right"><%= link_to 'Delete this event',
        opportunity_event_path(@opportunity, @event),
        method: :delete, data: {confirm: "Are you sure?"} %></small>
      </h3>
      <hr>
      <strong>Belongs to</strong><br>
      <small>Account</small><br>
      <%= link_to @opportunity.account.account_name, account_path(@opportunity.account) %>
      <br><br>

      <small><%= @opportunity.business_type == "Opportunity" ? 'Opportunity' : 'Case' %></small><br>
      <%= link_to @opportunity.name, opportunity_path(@opportunity)%>
      <br><br>
        <%= simple_form_for [@opportunity, @event] do |f| %>

        <%= f.input :description %>
        <%= f.input :event_date, as: :date_time_picker %>

        <%= f.label 'Status' %><br>
        <%= @event.complete ? 'Attended' : 'Not Attend' %>
        <br><br>

        <%= check_box_tag "attended" %>
        Mark as <%= @event.complete ? 'Not Attend' : 'Attended' %>
        <br><br>
        <%= f.button :submit, class: "btn btn-success" %>
        <% end %>
    </div>
    <div class="col-lg-3"></div>
</div>
