<!-- Modal -->
<div id="assignContactForm" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Assign contacts to
                  <% if params[:controller] == "accounts" %>
                  account
                  <%= @subject.account_name %>
                  <% elsif params[:controller] == "opportunities" %>
                  opportunity
                  <%= @subject.name %>
                  <% end %>
                </h4>
            </div>
            <div class="modal-body">
              <%= simple_form_for @subject, remote: true do |f| %>
              <%= f.input :dummy, as: :hidden %>

              <div id="assign">
              <%= render 'contacts/collection_select' %>
              </div>

            </div>
            <div class="modal-footer">
              <%= f.button :submit, "Assign Contact" %>
              <% end %>
              <%= link_to 'Cancel', '#', class: "btn btn-default", data: {dismiss: "modal"} %>
            </div>
        </div>
    </div>
</div>
