<div id="notice-contact"></div>
<% if @subject.relationships.blank? %>
<div class="col-lg-12">
    No contacts association found.
</div>
<% else %>

<% @subject.relationships.includes(:contact).each do |relationship| %>
<div class="col-lg-6" id="relatedContacts-<%= relationship.contact.id %>">
    <br>
    <div class="media">
        <div class="media-left">
          <% if relationship.contact.profile_pic.blank? %>
          <%= letter_avatar_tag(relationship.contact.name, 43 , class: "media-object") %>
          <% else %>
          <%= image_tag(relationship.contact.profile_pic.url(:small), class: "media-object") %>
          <% end %>
        </div>
        <div class="media-body">
            <h5 class="media-heading">
                <%= link_to relationship.contact.name, '#',
                data: {toggle: "modal", target: "#contactInfo-#{relationship.contact.id}"} %>
                <div class="pull-right">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="caret"></i>
                    </a>
                    <ul class="dropdown-menu">
                      <li><%= link_to 'Show', '#', data: {toggle: "modal",
                        target: "#contactInfo-#{relationship.contact.id}"}%></li>
                          <% if relationship.contactable_type == "Account" %>
                            <li><%= link_to 'Edit Contact',
                                edit_contact_path(relationship.contact) %>
                            </li>
                            <li><%= link_to 'Delete Association',
                                destroy_relationship_account_contact_path(
                                @subject, relationship.contact, relationship.id),
                                method: :delete, remote: true %>
                            </li>
                          <% elsif relationship.contactable_type == "Opportunity" %>
                            <li><%= link_to 'Edit Contact',
                                edit_contact_path(relationship.contact) %>
                            </li>
                            <li><%= link_to 'Delete Association',
                                destroy_relationship_opportunity_contact_path(
                                @subject, relationship.contact, relationship.id),
                                method: :delete, remote: true %>
                            </li>
                          <% end %>
                    </ul>
                </div>
                <br>
                <small><%= relationship.contact.title %></small><br>
                <small><%= relationship.contact.department %></small>
            </h5>
            <% unless relationship.contact.email.blank? %>
            <i class="fa fa-envelope"></i>
              <%= relationship.contact.email %>
            <br>
            <% end %>

            <% unless relationship.contact.phone.blank? %>
            <i class="fa fa-phone"></i>
                <%= relationship.contact.phone %>
              <br>
            <% end %>
        </div>
    </div>
</div>

<%= render 'contacts/contact_info', contact: relationship.contact %>

<% end %>
<% end %>
