<!-- Modal -->
<div id="contactInfo-<%= contact.id %>" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Contact Info</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-2">
                        <% if contact.profile_pic.blank? %>
                        <%= letter_avatar_tag(contact.name, 100,
                        class: "img-responsive img-center")%>
                    <% else %>
                        <%= image_tag(contact.profile_pic.url(:medium),
                          class: "img-responsive img-center")%>
                        <% end %>
                    </div>
                    <div class="col-lg-5">
                        <small>Name</small>
                        <h4>
                            <% if contact.name.blank? %>
                            <span style="color: red;">Not specified</span>
                        <% else %>
                            <%= contact.name %>
                            <% end %>
                        </h4>
                        <br>

                        <small>Position Title</small>
                        <h4><% if contact.title.blank? %>
                            <span style="color: red;">Not specified</span>
                        <% else %>
                            <%= contact.title %>
                            <% end %></h4>
                        <br>

                        <small>Department</small>
                        <h4><% if contact.department.blank? %>
                            <span style="color: red;">Not specified</span>
                        <% else %>
                            <%= contact.department %>
                            <% end %></h4>

                    </div>
                    <div class="col-lg-5">
                        <small>Mailing Address</small>
                        <h4>
                            <% if (contact.mailing_street == nil && contact.mailing_city == nil && contact.mailing_state == nil && contact.mailing_postal_code == nil && contact.mailing_country == nil) %>
                            <span style="color: red;">
                                Not specified
                            </span>
                        <% else %>

                            <% if contact.mailing_street != "" %>
                            <%= contact.mailing_street %>
                            <% end %>
                            <% if contact.mailing_city != "" %>
                            <%= contact.mailing_city %>,
                            <% end %>
                            <% if contact.mailing_state != "" %>
                            <%= contact.mailing_state %>,
                            <% end %>
                            <% if contact.mailing_postal_code != "" %>
                            <%= contact.mailing_postal_code %>
                            <% end %>
                            <% if contact.mailing_country != "" %>
                            <%= contact.mailing_country %>
                            <% end %>

                            <% end %>
                        </h4>
                        <br>

                        <small>Phone</small>
                        <h4><% if contact.phone.blank? %>
                            <span style="color: red;">Not specified</span>
                        <% else %>
                            <%= contact.phone %>
                            <% end %></h4>
                        <br>

                        <small>Email</small>
                        <h4><% if contact.email.blank? %>
                            <span style="color: red;">Not specified</span>
                        <% else %>
                            <%= contact.email %>
                            <% end %></h4>

                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-10">
                        <hr>
                        <small>Association</small>
                        <br><br>
                        <% if contact.relationships.blank? %>
                        No association found
                    <% else %>
                        <% ctct = contact.relationships.includes(:contactable) %>
                        <% contactable_acc = ctct.where(contactable_type: "Account") %>
                        <% unless contactable_acc.blank? %>
                        <small>Account</small><br>
                        <div class="row">
                            <% contactable_acc.each do |rl| %>
                            <div class="col-lg-4">
                                <%= link_to rl.contactable.account_name,
                          account_path(rl.contactable, anchor: "relatedContacts-contactInfo-#{rl.contact.id}") %>
                            </div>
                            <% end %>
                        </div>
                        <br>
                        <% end %>

                        <% contactable_op = ctct.where(contactable_type: "Opportunity")%>
                        <% unless contactable_op.blank? %>
                        <small>Opportunity / Case</small><br>
                        <div class="row">
                            <% contactable_op.each do |rl| %>
                            <div class="col-lg-4">
                                <%= link_to rl.contactable.name,
                        opportunity_path(rl.contactable, anchor: "relatedContacts-contactInfo-#{rl.contact.id}") %>
                            </div>
                            <% end %>
                        </div>
                        <% end %>
                        <% end %>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <%= link_to 'Close', '#', class: "btn btn-default", data: {dismiss: "modal"} %>
            </div>
        </div>
    </div>
</div>
