<div class="text-center">
    <%= paginate @contacts %>
</div>

<% if @contacts.blank? %>

<% else %>
<hr>
<div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-2">
        <strong>Name</strong>
    </div>
    <div class="col-lg-2">
        <strong>Email</strong>
    </div>
    <div class="col-lg-2">
        <strong>Phone</strong>
    </div>
    <div class="col-lg-2">
        <strong>Position</strong>
    </div>
    <div class="col-lg-1">
        <strong>Department</strong>
    </div>
    <div class="col-lg-2 text-center">
        <strong>Action</strong>
    </div>
</div>
<% @contacts.each do |contact| %>
<hr>
<div class="row">
    <div class="col-lg-1 text-center">
        <% if contact.profile_pic.blank? %>
        <%= letter_avatar_tag(contact.name, 43) %>
    <% else %>
        <%= image_tag(contact.profile_pic.url(:small)) %>
        <% end %>
    </div>
    <div class="col-lg-2">
        <% if contact.name.blank? %>
        <span style="color: red;">
            Not specified
        </span>
    <% else %>
        <%= link_to contact.name, '#',
          data: {toggle: "modal", target: "#contactInfo-#{contact.id}"} %>
        <% end %>
    </div>
    <div class="col-lg-2">
        <% if contact.email.blank? %>
        <span style="color: red;">
            Not specified
        </span>
    <% else %>
        <%= contact.email %>
        <% end %>
    </div>
    <div class="col-lg-2">
        <% if contact.phone.blank? %>
        <span style="color: red;">
            Not specified
        </span>
    <% else %>
        <%= contact.phone %>
        <% end %>
    </div>
    <div class="col-lg-2">
        <% if contact.title.blank? %>
        <span style="color: red;">
            Not specified
        </span>
    <% else %>
        <%= contact.title %>
        <% end %>
    </div>
    <div class="col-lg-1">
        <% if contact.department.blank? %>
        <span style="color: red;">
            Not specified
        </span>
    <% else %>
        <%= contact.department %>
        <% end %>
    </div>
    <div class="col-lg-2 text-center">
        <a href="#" class="dropdown btn btn-default" data-toggle="dropdown">
            <i class="caret"></i>
        </a>
        <ul class="dropdown-menu">
            <li><%= link_to 'Show', '#',
            data: {toggle: "modal", target: "#contactInfo-#{contact.id}"}%></li>
            <li><%= link_to 'Edit', edit_contact_path(contact, page: params[:page]) %></li>
            <li><%= link_to 'Delete', contact_path(contact), method: :delete,
            data: { confirm: "Are you sure?" }, remote: true %></li>
        </ul>
    </div>
</div>

<%= render 'contacts/contact_info', contact: contact %>

<% end %>

<div class="text-center">
    <%= paginate @contacts %>
</div>
<% end %>
