<div class="container">
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <h3><%= yield :form_title %></h3>
            <hr>
            <%= simple_form_for [@subject, @contact] do |f| %>
            <h4>Contact Details</h4>
            <br>
            <div class="row">

                <div class="col-lg-3">
                    <div style="padding-top: 5px;"></div>
                    <% if @contact.profile_pic.blank? %>
                    <%= letter_avatar_tag(params[:action] == "edit" ? @contact.name : 'Unknown', 150,
                    class: "img-responsive img-center") %>
                    <% else %>
                    <%= image_tag(@contact.profile_pic.url(:medium),
                    class: "img-responsive img-center")%>
                    <% end %>
                </div>

                <div class="col-lg-9">
                  <%= f.input :name, label: "Name", placeholder: "Name", autofocus: true %>
                    <%= f.input :profile_pic, as: :file, label: "Upload Profile Picture" %>
                </div>
            </div>
            <br>

            <div class="row">
                <div class="col-lg-6">
                    <%= f.input :title, label: "Position Title", placeholder: "Position title" %>
                    <%= f.input :department, label: "Department", placeholder: "Department" %>
                </div>
                <div class="col-lg-6">
                    <%= f.input :email, label: "Email", placeholder: "Email" %>
                    <%= f.input :phone, label: "Phone", placeholder: "Phone" %>
                </div>
            </div>
            <hr>
            <h4>Mailing Address</h4>
            <br>
            <%= f.input :mailing_street, label: "Street", placeholder: "Street" %>
            <div class="row">
                <div class="col-lg-6">
                    <%= f.input :mailing_city, label: "City", placeholder: "City" %>
                    <%= f.input :mailing_state, label: "State", placeholder: "State" %>
                </div>
                <div class="col-lg-6">
                    <%= f.input :mailing_postal_code, label: "Postal Code", placeholder: "Postal code" %>
                    <%= f.input :mailing_country, label: "Country", include_blank: "Choose country" %>
                </div>
            </div>
            <hr>
            <h4>Association</h4>

            <% if params[:action] == "edit" %>
            <div id="association">
                <%= render 'contacts/association' %>
            </div>
            <% end %>

            <small>Choose Account or Opportunity / Case to be associated with</small>
            <select name="assigned[]" id="assigned_" class="selectpicker form-control" multiple data-live-search="true" data-selected-text-format="count > 6" data-size="10" data-actions-box="true">

                <optgroup label="Account">
                    <% @acc_collect.each do |acc| %>
                    <option value="Account,<%= acc.id%>"><%= acc.name %></option>
                    <% end %>
                </optgroup>

                <optgroup label="Opportunity">
                    <% @op_collect.each do |op| %>
                    <% if op.business_type == "Opportunity" %>
                    <option value="Opportunity,<%= op.id %>"><%= op.name %></option>
                    <% end %>
                    <% end %>
                </optgroup>

                <optgroup label="Case">
                    <% @op_collect.each do |op| %>
                    <% if op.business_type == "Case" %>
                    <option value="Opportunity,<%= op.id %>"><%= op.name %></option>
                    <% end %>
                    <% end %>
                </optgroup>

                <optgroup label="Marketing">
                    <% @op_collect.each do |op| %>
                    <% if op.business_type == "Marketing" %>
                    <option value="Opportunity,<%= op.id %>"><%= op.name %></option>
                    <% end %>
                    <% end %>
                </optgroup>

            </select>

            <hr>
            <%= link_to 'Back', :back, class: "btn btn-default" %>
            <%= f.button :submit, class: "btn-success" %>
            <% end %>
        </div>
        <div class="col-lg-3"></div>
    </div>
</div>
