<div class="row">
  <div class="col-lg-10">
<h2>Contacts</h2>
<%= pluralize(@contacts.count, 'item') %>
</div>
<div class="col-lg-2" style="padding-top: 25px;">
    <%= link_to 'New Contact', new_contact_path, class: "btn btn-default" %>
</div>
</div>

<div class="text-center">
    <%= page_entries_info @contacts %>
    <%= paginate @contacts %>
</div>

<div id="notice-contact">
<%= render 'layouts/message' %>
</div>

<div id="index-list">
<%= render 'contacts/contact_index' %>
</div>
