<% previous_status = nil %>
<% current_status = nil %>

<% @opportunity.stages.each_with_index do |stage, index| %>
<% current_status = stage.complete %>

<% if (index+1) % 6 == 0 %>
<div class="row">
    <% end %>

    <% if stage.complete == false %>
    <div class="col-lg-2 btn btn-default">
    <% else %>
        <div class="col-lg-2 btn btn-success">
            <% end %>
            <!-- stage.complete == false -->

            <span class="pull-left badge"><%= index+1 %></span>
            <strong><%= stage.name %></strong>

            <div class="pull-right">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="caret"></i>
                </a>
                <ul class="dropdown-menu">
                    <li><%= link_to 'Edit', '#',data: {toggle: "modal", target: "#oppEditModalStage"} %></li>
                    <li><%= link_to 'Delete', opportunity_stage_path(@opportunity, stage),
                    method: :delete, remote: true %></li>
                </ul>
            </div>

            <br>

            <% if previous_status == true || index == 0 %>

            <% if stage.complete == false %>
            <small>In progress</small><br>
            <small><%= link_to 'Mark as Completed',
            update_stage_status_path(@opportunity, stage), remote: true, method: :get %>
            </small>
        <% else %>
            <small>Completed</small><br>
            <small><%= link_to 'Mark as In Progress',
            update_stage_status_path(@opportunity, stage), remote: true, method: :get %>
            </small>
            <% end %>
            <!-- stage.complete == false -->

        <% else %>
            <small>Waiting for previous stage</small><br>
            <% end %>
            <!-- previous_status == true || index == 0 -->

        </div>
        <% previous_status = current_status %>
        <% if (index+1) % 6 == 0 %>
    </div>
    <% end %>

    <% end %>
    <!-- @opportunity.stages.each_with_index -->
