<div class="row">
<div class="col-lg-12">
    <% if @subject.stages.blank? %>
    <br>
    <div class="text-center">
        No stages found.
    </div>
<% else %>
    <div class="row">
        <div class="text-center">
            <small><%= params[:controller].capitalize %> Stages</small>
        </div>
    </div>
    <br>

    <% @subject.stages.includes(:user).each_with_index do |stage, index| %>

    <% if index == 0 && stage.status == "Waiting" %>
    <% stage.update_attributes(current_status: true, status: "In Progress") %>
    <% end %>

    <% if (index+1) % 6 == 0 %>
    <div class="row">
        <% end %>

        <% if stage.status == "Waiting" %>
        <div class="col-lg-2 btn btn-default">
            <% elsif stage.status == "Completed" %>
            <div class="col-lg-2 btn btn-success">
                <% elsif stage.status == "In Progress" %>
                <div class="col-lg-2 btn btn-primary">
                    <% end %>

                    <span class="pull-left badge"><%= index+1 %></span>
                    <strong><%= stage.name %></strong>

                    <div class="dropdown pull-right">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="caret"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <% if stage.status == "In Progress" &&
                              @subject.stages.last.id == stage.id %>

                            <li>
                            <%= link_to 'Mark as Completed',
                            polymorphic_path([@subject, stage], action: :update_status),
                            remote: true, method: :get %>
                            </li>
                            <li role="separator" class="divider"></li>

                            <% elsif stage.status == "Waiting" %>

                            <li>
                              <%= link_to 'Mark as In Progress',
                              polymorphic_path([@subject, stage], action: :update_status),
                              remote: true, method: :get %>
                            </li>
                            <li role="separator" class="divider"></li>

                            <% elsif stage.status == "Completed" %>

                            <li>
                              <%= link_to 'Mark as In Progress',
                              polymorphic_path([@subject, stage], action: :update_status),
                              remote: true, method: :get %>
                            </li>
                            <li role="separator" class="divider"></li>

                            <% end %>

                            <li><%= link_to 'Show details', '#',
                            data: { toggle: "modal", target: "#stageInfo-#{stage.id}"} %></li>

                            <li><%= link_to 'Edit stage name', '#',
                            data: { toggle: "modal", target: "#editStage-#{stage.id}"},
                            remote: true %></li>

                            <li>
                            <%= link_to 'Delete', polymorphic_path([@subject, stage]),
                            method: :delete, remote: true, data: {confirm: "Are you sure?"} %>
                            </li>
                        </ul>
                    </div>

                    <br>

                    <% if stage.status == "Completed" %>
                    <small>Completed</small>
                    <br>
                    <% elsif stage.status == "In Progress" %>
                    <small>In Progress</small>
                    <br>
                    <% elsif stage.status == "Waiting" %>
                    <small>Waiting for previous stage</small>
                    <br>
                    <% end %>

                </div>

                <% if (index+1) % 6 == 0 %>
            </div>
            <% end %>

            <!-- Modal -->
            <div id="stageInfo-<%= stage.id %>" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">
                                <small>Stage Details</small>
                                <br>
                                <%= stage.name %></h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <small>Stage Status</small>
                                    <h1 class="text-center"><%= stage.status %>
                                        <% if stage.status == "Waiting" %>
                                        for previous stage
                                        <% end %>
                                    </h1>
                                    <br>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-lg-6">
                                    <small>Stage Created By</small>
                                    <h4><%= link_to stage.user.name,
                                    user_path(stage.user) %></h4>
                                    <br>
                                </div>
                                <div class="col-lg-6">
                                    <small>Created At</small>
                                    <h4><%= stage.created_at.strftime('%d %b %Y %H:%M:%S') %></h4>
                                    <br>
                                    <small>Last Updated At</small>
                                    <h4><%= stage.updated_at.strftime('%d %b %Y %H:%M:%S') %></h4>
                                    <br>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">

                            <%= link_to 'Close', '#', class: "btn btn-default", data: {dismiss: "modal"}%>
                        </div>
                    </div>
                </div>
            </div>

            <% end %>
            <!-- @subject.stages.each_with_index -->

            <% end %>
            <!-- @subject.stages.blank? -->
        </div>

        <div class="col-lg-12">
            <br>
            <div id="notice-stage"></div>
        </div>
      </div>
