<div class="panel panel-default panel-body">
<h4><strong>Opportunities by Status</strong></h4>
<hr>
<% if @opportunities_open.blank? &&
  @opportunities_closedwon.blank? &&
  @opportunities_closedloss.blank? %>

No opportunities registered yet.
<% else %>

<%= render 'dashboards/op_status_block', opportunities_block: @opportunities_open %>
<%= render 'dashboards/op_status_block', opportunities_block: @opportunities_approved %>
<%= render 'dashboards/op_status_block', opportunities_block: @opportunities_closedwon %>
<%= render 'dashboards/op_status_block', opportunities_block: @opportunities_closedloss %>

<h5 class="text-center"><%= link_to 'View All Opportunities',
opportunities_path(type: "Opportunity") %></h5>
<% end %>
<!-- opportunities blank end -->
</div>
