<div class="panel panel-default panel-body">
<h4><strong>Latest Tasks Registered</strong></h4>
<hr>
<% if @tasks.blank? %>
No tasks found.
<% else %>

<div class="row">
    <div class="col-lg-6">
        <small>Activities</small>
    </div>
    <div class="col-lg-6">
        <small>Created at DateTime</small>
    </div>
</div>

<% @tasks.each do |task| %>
<div class="row">
    <div class="col-lg-6"><%= link_to task[1].truncate(50),
  opportunity_path(task[3], anchor: "task-#{task[0]}") %></div>
    <div class="col-lg-6"><%= task[2].strftime('%d %b %Y  %H:%M:%S')%></div>
</div>
<% end %>

<% unless @urgent_tasks.blank? %>
<hr>

<h4><strong>Urgent Tasks</strong></h4>
<hr>
<div class="row">
    <div class="col-lg-4">
        <small>Activities</small>
    </div>
    <div class="col-lg-8">
        <small>Due DateTime</small>
    </div>
</div>

<% @urgent_tasks.each do |urtask| %>
<div class="row">
    <div class="col-lg-4"><%= link_to urtask[1].truncate(50),
  opportunity_path(urtask[3], anchor: "task-taskInfo-#{urtask[0]}") %></div>

    <% if urtask[4].blank? %>
    <div class="col-lg-8">
        <span style="color: red;">Not specified</span>
    </div>
<% else %>
    <div class="col-lg-8">
      <% if urtask[4].strftime('%d %b %Y') == Date.today.strftime('%d %b %Y') %>
      <%= urtask[4].strftime('%d %b %Y %H:%M:%S') %>
      <span style="color: orange;">
          <strong>
              Today<br>
          </strong>
      </span>
      <small>
          (<%= distance_of_time_in_words(urtask[4], Time.now) %>
          left)
      </small>
      <% elsif urtask[4] > Time.now %>
      <%= urtask[4].strftime('%d %b %Y %H:%M:%S')%><br>
      <span style="color: red;">
          <small>
              (<%= distance_of_time_in_words(urtask[4], Time.now) %>
              left)
          </small>
      </span>
      <% elsif urtask[4] < Time.now %>
      <%= urtask[4].strftime('%d %b %Y %H:%M:%S') %>
      <span style="color: red;">
          <strong>
              Task Passed<br>
          </strong>
      </span>
      <span style="color: red;">
          <small>
              (<%= distance_of_time_in_words(urtask[4], Time.now) %>
              ago)
          </small>
      </span>
      <% end %>
    </div>
    <% end %>
</div>
<% end %>
<% end %>
<% end %>

<% if @tasks.count >= 6 %>
<hr>
<div class="row">
    <div class="col-lg-12 text-center">
        <h5><%= link_to 'View All Tasks', tasks_path %></h5>
    </div>
</div>
<% end %>
</div>
