<% if @tasks.blank? %>
No tasks created yet.
<% else %>
<h5>Latest Tasks</h5>
<div class="row">
    <div class="col-lg-6">
        <small>Activities</small>
    </div>
    <div class="col-lg-6">
        <small>Created at DateTime</small>
    </div>
</div>

<% @tasks.each do |task| %>
<div class="row">
    <div class="col-lg-6"><%= link_to task.description.truncate(50),
  opportunity_path(task.opportunity.id, anchor: "task-#{task.id}") %></div>
    <div class="col-lg-6"><%= task.created_at.strftime('%d %b %Y  %H:%M:%S')%></div>
</div>
<% end %>

<hr>

<h5>Urgent Tasks</h5>
<div class="row">
    <div class="col-lg-4">
        <small>Activities</small>
    </div>
    <div class="col-lg-8">
        <small>Due DateTime</small>
    </div>
</div>

<% @urgent_tasks.each do |urtask| %>
<div class="row">
    <div class="col-lg-4"><%= link_to urtask.description.truncate(50),
  opportunity_path(urtask.opportunity.id, anchor: "task-#{urtask.id}") %></div>

    <% if urtask.due_date.blank? %>
    <div class="col-lg-8">
        <span style="color: red;">Not specified</span>
    </div>
<% else %>
    <div class="col-lg-8">
      <%= urtask.due_date.strftime('%d %b %Y %H:%M:%S')%>
      <small>
        (<%= distance_of_time_in_words(urtask.due_date, Time.now) %> left)
      </small>
    </div>
    <% end %>
</div>
<% end %>
<% end %>

<% if @tasks.count == 6 %>
<hr>
<div class="row">
    <div class="col-lg-12 text-center">
        <h5><%= link_to 'View All Tasks', tasks_path %></h5>
    </div>
</div>
<% end %>
