<div class="panel panel-default panel-body">
<h4><strong>Latest Events Registered</strong></h4>
<hr>
<% if @events.blank? %>
No events found.
<% else %>

<div class="row">
    <div class="col-lg-6">
        <small>Events</small>
    </div>
    <div class="col-lg-6">
        <small>Event DateTime</small>
    </div>
</div>

<% @events.each do |event| %>
<div class="row">
    <div class="col-lg-6"><%= link_to event[1].truncate(50),
  opportunity_path(event[3], anchor: "event-#{event[0]}") %></div>

    <div class="col-lg-6">
        <% if event[2].blank? %>
        <span style="color: red;">Not specified</span>
    <% else %>
        <%= event[2].strftime('%d %b %Y')%>
        <% end %>
    </div>

</div>
<% end %>

<% unless @urgent_events.blank? %>
<hr>

<h4><strong>Urgent Events</strong></h4>
<hr>
<div class="row">
    <div class="col-lg-4">
        <small>Events</small>
    </div>
    <div class="col-lg-8">
        <small>Event DateTime</small>
    </div>
</div>

<% @urgent_events.each do |urevent| %>
<div class="row">
    <div class="col-lg-4"><%= link_to urevent[1].truncate(25),
  opportunity_path(urevent[3], anchor: "event-eventInfo-#{urevent[0]}") %></div>
    <% if urevent[2].blank? %>
    <div class="col-lg-8">
        <span style="color: red;">Not specified</span>
    </div>
<% else %>
    <div class="col-lg-8">
        <% if urevent[2].strftime('%d %b %Y') == Date.today.strftime('%d %b %Y') %>
        <%= urevent[2].strftime('%d %b %Y %H:%M:%S') %>
        <span style="color: orange;">
            <strong>
                Today<br>
            </strong>
        </span>
        <small style="color: red;">
            (<%= distance_of_time_in_words(urevent[2], Time.now) %>
            left)
        </small>
        <% elsif urevent[2] > Time.now %>
        <%= urevent[2].strftime('%d %b %Y %H:%M:%S')%><br>
        <span style="color: red;">
            <small>
                (<%= distance_of_time_in_words(urevent[2], Time.now) %>
                left)
            </small>
        </span>
        <% elsif urevent[2] < Time.now %>
        <%= urevent[2].strftime('%d %b %Y %H:%M:%S') %>
        <span style="color: red;">
            <strong>
                Event Passed<br>
            </strong>
        </span>
        <span style="color: red;">
            <small>
                (<%= distance_of_time_in_words(urevent[2], Time.now) %>
                ago)
            </small>
        </span>
        <% end %>
    </div>
    <% end %>
</div>
<% end %>
<% end %>
<% end %>

<% if @events.count >= 6 %>
<hr>
<div class="row">
    <div class="col-lg-12 text-center">
        <h5><%= link_to 'View All Events', events_path %></h5>
    </div>
</div>
<% end %>
</div>
