<% if @events.blank? %>
No events yet.
<% else %>

<h5>Latest Events</h5>
<div class="row">
    <div class="col-lg-6">
        <small>Events</small>
    </div>
    <div class="col-lg-6">
        <small>Event DateTime</small>
    </div>
</div>

<% @events.each do |event| %>
<div class="row">
    <div class="col-lg-6"><%= link_to event.description.truncate(50),
  opportunity_path(event.opportunity.id, anchor: "event-#{event.id}") %></div>

    <div class="col-lg-6">
      <% if event.event_date.blank? %>
        <span style="color: red;">Not specified</span>
        <% else %>
        <%= event.event_date.strftime('%d %b %Y')%>
        <% end %>
    </div>

</div>
<% end %>

<% unless @urgent_events.blank? %>
<hr>

<h5>Urgent Events</h5>
<div class="row">
    <div class="col-lg-4">
        <small>Events</small>
    </div>
    <div class="col-lg-8">
        <small>Event DateTime</small>
    </div>
</div>

<% @urgent_events.each do |urevent| %>
<div class="row">
    <div class="col-lg-4"><%= link_to urevent.description.truncate(25),
  opportunity_path(urevent.opportunity.id, anchor: "event-#{urevent.id}") %></div>
    <% if urevent.event_date.blank? %>
    <div class="col-lg-8">
        <span style="color: red;">Not specified</span>
    </div>
<% else %>
    <div class="col-lg-8">
      <%= urevent.event_date.strftime('%d %b %Y %H:%M:%S')%>
      <span style="color: red;"><small>
        (<%= distance_of_time_in_words(urevent.event_date, Time.now) %> left)
      </small></span>

    </div>
    <% end %>
</div>
<% end %>
<% end %>
<% end %>

<% if @events.count == 6 %>
<hr>
<div class="row">
    <div class="col-lg-12 text-center">
        <h5><%= link_to 'View All Events', events_path %></h5>
    </div>
</div>
<% end %>
