<% unless opportunities_block.blank? %>
<strong><%= opportunities_block.first.status %></strong>
<div class="row">
    <div class="col-lg-4">
        <small>Opportunity Name</small>
    </div>
    <div class="col-lg-4">
        <small>Belongs to Account Name</small>
    </div>
    <div class="col-lg-4">
        <small>Created at DateTime</small>
    </div>
</div>
<% opportunities_block.each do |opaprv| %>
<div class="row">
    <div class="col-lg-4">
        <%= link_to opaprv.name, opportunity_path(opaprv) %>
    </div>
    <div class="col-lg-4">
        <%= link_to opaprv.account.account_name, account_path(opaprv.account) %>
    </div>
    <div class="col-lg-4">
        <%= opaprv.created_at.strftime('%d %b %Y %H:%M:%S')%>
    </div>
</div>
<% end %>
<!-- loop end  -->
<br>
<%= link_to 'See more', opportunities_path(
type: "Opportunity", status: "#{opportunities_block.first.status}") %>
<hr>
<% end %>
<!-- unless opportunities_open end -->
