<div class="row">
    <div class="col-lg-8">
        <div class="media">
            <div class="media-left">
                <div style="padding-top: 20px;"></div>
                <%= letter_avatar_tag('Dashboard', 50, class: "media-object") %>
            </div>
            <div class="media-body">
                <h3>Dashboard<br>
                    <small>Overviews</small>
                </h3>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
          <h5>Time now</h5>
          <h4>
              <div id="myClock" style="padding-bottom: 10px;"></div>
              <!-- <div id="jpClock"></div> -->
          </h4>
    </div>
</div>
<hr>

<div class="row">
    <div class="col-lg-4">
        <div class="panel panel-default panel-body">
            <%= render 'dashboards/dashboard_accounts' %>
        </div>
    </div>
    <div class="col-lg-4">
      <div class="panel panel-default panel-body">
        <%= render 'dashboards/dashboard_opportunities' %>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="panel panel-default panel-body">
          <%= render 'dashboards/dashboard_contacts' %>
      </div>
    </div>
</div>

<hr>
<h3>Activities</h3>
<br>
<div class="row">
    <div class="col-lg-4">
        <div class="panel panel-default panel-body">
            <%= render 'dashboards/dashboard_tasks' %>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="panel panel-default panel-body">
            <%= render 'dashboards/dashboard_calls' %>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="panel panel-default panel-body">
            <%= render 'dashboards/dashboard_events' %>
        </div>
    </div>
</div>

<hr>
<h3>Insights</h3>
<br>
<div class="row">
    <div class="col-lg-4">
        <%= render 'dashboards/dashboard_topwon' %>
        <!-- <canvas id="topWonChart" width="400" height="400"></canvas> -->
    </div>
    <div class="col-lg-4">
        <%= render 'dashboards/dashboard_toploss' %>
        <!-- <canvas id="topLossChart" width="400" height="400"></canvas> -->
    </div>
    <div class="col-lg-4">
        <%= render 'dashboards/dashboard_lossreason' %>
        <!-- <canvas id="topReasonChart" width="400" height="400"></canvas> -->
    </div>
</div>

<script>
    function myClock() {
        var month = [
            'January',
            'February',
            'March',
            'April',
            'May',
            'June',
            'July',
            'August',
            'September',
            'October',
            'November',
            'Disember'
        ]
        var timeNow = new Date();

        var timeDate = timeNow.getDate();
        var timeMonth = month[timeNow.getMonth()];
        var timeYear = timeNow.getFullYear();

        var timeHours = timeNow.getHours();
        var timeMinutes = timeNow.getMinutes();
        var timeSeconds = timeNow.getSeconds();

        var myTimeClock = timeDate + " " + timeMonth + " " + timeYear + " "
        + ("0" + timeHours).slice(-2) + ":"
        + ("0" + timeMinutes).slice(-2) + ":"
        + ("0" + timeSeconds).slice(-2);

        var jpTimeClock = timeDate + " " + timeMonth + " " + timeYear + " "
        + ("0" + (timeHours+1)).slice(-2) + ":"
        + ("0" + timeMinutes).slice(-2) + ":"
        + ("0" + timeSeconds).slice(-2);

        var myClock = myTimeClock + " MY";
        var jpClock = jpTimeClock + " JP";

        $('#myClock').html(myClock);
        $('#jpClock').html(jpClock)
    }

    $(document).ready(function () {
        setInterval('myClock()', 1000);
    });

//------------------------ Chart.js ---------------------------//
var id = ['topWonChart', 'topLossChart', 'topReasonChart']

console.log(gon.opportunities);

for(i = 0; i < id.length; i++){
var ctx = document.getElementById(id[i]).getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
        datasets: [{
            label: 'Top Accounts - Opportunity Won',
            data: [12, 19, 3, 5, 2, 3],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});

}
</script>
