<div class="row">
    <div class="col-lg-8">
        <div class="media">
            <div class="media-left">
                <div style="padding-top: 20px;"></div>
                <%= letter_avatar_tag('Dashboard', 50, class: "media-object") %>
            </div>
            <div class="media-body">
                <h3>Dashboard<br>
                    <small>Overviews</small>
                </h3>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
          <h5>Time now</h5>
          <h4>
              <div id="myClock" style="padding-bottom: 10px;"></div>
              <!-- <div id="jpClock"></div> -->
          </h4>
    </div>
</div>
<hr>

<div class="row">
    <div class="col-lg-4">
        <div class="panel panel-default panel-body">
            <%= render 'dashboards/dashboard_accounts' %>
        </div>
    </div>
    <div class="col-lg-4">
      <div class="panel panel-default panel-body">
        <%= render 'dashboards/dashboard_opportunities' %>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="panel panel-default panel-body">
          <%= render 'dashboards/dashboard_cases' %>
      </div>
    </div>
</div>

<hr>
<h3>Activities</h3>
<br>
<div class="row">
    <div class="col-lg-4">
        <div class="panel panel-default panel-body">
            <%= render 'dashboards/dashboard_tasks' %>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="panel panel-default panel-body">
            <%= render 'dashboards/dashboard_calls' %>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="panel panel-default panel-body">
            <%= render 'dashboards/dashboard_events' %>
        </div>
    </div>
</div>

<hr>
<h3>Insights</h3>
<br>
<div class="row">
    <div class="col-lg-4">
        <%= render 'dashboards/dashboard_topwon' %>
    </div>
    <div class="col-lg-4">
        <%= render 'dashboards/dashboard_toploss' %>
    </div>
    <div class="col-lg-4">
        <%= render 'dashboards/dashboard_lossreason' %>
    </div>
</div>
<hr>
<div class="row">
<div class="col-lg-4">
  <h4 class="text-center">Overall Opportunity Won-Loss Chart</h4>
  <canvas id="opportunity-chart" width="400" height="400"></canvas>
</div>
<div class="col-lg-4">
  <h4 class="text-center">Value of Opportunity Won by Account</h4>
  <canvas id="won-chart" width="400" height="400"></canvas>
</div>
<div class="col-lg-4">
  <h4 class="text-center">Value of Opportunity Loss by Account</h4>
  <canvas id="loss-chart" width="400" height="400"></canvas>
</div>
</div>
<script>
var month = [
    'January',
    'February',
    'March',
    'April',
    'May',
    'June',
    'July',
    'August',
    'September',
    'October',
    'November',
    'Disember'
]

    function myClock() {

        var timeNow = new Date();

        var timeDate = timeNow.getDate();
        var timeMonth = month[timeNow.getMonth()];
        var timeYear = timeNow.getFullYear();

        var timeHours = timeNow.getHours();
        var timeMinutes = timeNow.getMinutes();
        var timeSeconds = timeNow.getSeconds();

        var myTimeClock = timeDate + " " + timeMonth + " " + timeYear + " "
        + ("0" + timeHours).slice(-2) + ":"
        + ("0" + timeMinutes).slice(-2) + ":"
        + ("0" + timeSeconds).slice(-2);

        var jpTimeClock = timeDate + " " + timeMonth + " " + timeYear + " "
        + ("0" + (timeHours+1)).slice(-2) + ":"
        + ("0" + timeMinutes).slice(-2) + ":"
        + ("0" + timeSeconds).slice(-2);

        var myClock = myTimeClock + " MY";
        var jpClock = jpTimeClock + " JP";

        $('#myClock').html(myClock);
        $('#jpClock').html(jpClock)
    }

    $(document).ready(function () {
        setInterval('myClock()', 1000);
    });

    var ctx = document.getElementById('opportunity-chart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: [
                "Won", "Loss"
            ],
            datasets: [
                {
                    data: [
                        gon.opwon_count, gon.oploss_count
                    ],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)'
                    ],
                    borderWidth: 1
                }
            ]
        }
    });

    var acc_won_hash = gon.acc_won_hash;
    var acc_won_name = [];
    var acc_won_count = [];

    for (var i = 0; i < acc_won_hash.length; i++) {
      acc_won_name.push(acc_won_hash[i][0]);
      acc_won_count.push(acc_won_hash[i][1]);
    }

    var wondata = {
        labels: acc_won_name,
        datasets: [
            {
                data: acc_won_count,
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(55, 99, 132, 0.2)',
                    'rgba(54, 62, 235, 0.2)',
                    'rgba(255, 99, 32, 0.2)',
                    'rgba(254, 162, 235, 0.2)'
                ],
                borderColor: [
                  'rgba(255, 99, 132, 1)',
                  'rgba(54, 162, 235, 1)',
                  'rgba(55, 99, 132, 1)',
                  'rgba(54, 62, 235, 1)',
                  'rgba(255, 99, 32, 1)',
                  'rgba(254, 162, 235, 1)'
                ],
                borderWidth: 1
            }
        ]
    };

    var acc_loss_hash = gon.acc_loss_hash;
    var acc_loss_name = [];
    var acc_loss_count = [];

    for (var i = 0; i < acc_loss_hash.length; i++) {
      acc_loss_name.push(acc_loss_hash[i][0]);
      acc_loss_count.push(acc_loss_hash[i][1]);
    }

    var lossdata = {
        labels: acc_loss_name,
        datasets: [
            {
                data: acc_loss_count,
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)'
                ],
                borderWidth: 1
            }
        ]
    };

    var optiondata = {
      legend: {
        display: false
      },
      scales: {
        yAxes: [{
          scaleLabel: {
            display: true,
            labelString: 'Value of Opportunity (RM)'
          },
          ticks: {
            beginAtZero: true
          }
        }],
        xAxes: [{
          scaleLabel: {
            display: true,
            labelString: 'Account Name'
          },
          ticks: {
            beginAtZero: true,
            autoSkip: false,
            minRotation: 90,
            maxRotation: 90
          }
        }]
      }
    }

    var ctx = document.getElementById('won-chart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: wondata,
        options: optiondata
    });

    var ctx = document.getElementById('loss-chart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: lossdata,
        options: optiondata
    });

</script>
