<div class="row">
    <div class="col-lg-4">
        <div class="panel panel-default panel-body">
            <h5>Time now</h5>
            <h3>
                <div id="myClock"></div>
            </h3>
        </div>
        <div class="panel panel-default panel-body">
            <h5>Latest Tasks List</h5>
            <% if @tasks.blank? %>
            No tasks created yet.
            <% else %>
            <div class="row">
                <div class="col-lg-4">
                    <small>Activities</small>
                </div>
                <div class="col-lg-4">
                    <small>Created at Date</small>
                </div>
                <div class="col-lg-4">
                    <small>Created at Time</small>
                </div>
            </div>

            <% @tasks.each do |task| %>
            <div class="row">
                <div class="col-lg-4"><%= link_to task.description,
              opportunity_path(task.opportunity.id, anchor: "t#{task.id}") %></div>
                <% if task.due_date.blank? %>
                <div class="col-lg-4">
                    <span style="color: red;">Not specified</span>
                </div>
                <div class="col-lg-4">
                    <span style="color: red;">Not available</span>
                </div>
            <% else %>
                <div class="col-lg-4"><%= task.created_at.strftime('%d %b %Y')%></div>
                <div class="col-lg-4"><%= task.created_at.strftime('%H:%M:%S')%></div>
                <% end %>
            </div>
            <% end %>

            <hr>

            <h5>Urgent Tasks List</h5>
            <div class="row">
                <div class="col-lg-4">
                    <small>Activities</small>
                </div>
                <div class="col-lg-4">
                    <small>Due date</small>
                </div>
                <div class="col-lg-4">
                    <small>Time remaining</small>
                </div>
            </div>

            <% @urgent_tasks.each do |urtask| %>
            <div class="row">
                <div class="col-lg-4"><%= link_to urtask.description,
              opportunity_path(urtask.opportunity.id, anchor: "t#{urtask.id}") %></div>
                <% if urtask.due_date.blank? %>
                <div class="col-lg-4">
                    <span style="color: red;">Not specified</span>
                </div>
                <div class="col-lg-4">
                    <span style="color: red;">Not available</span>
                </div>
            <% else %>
                <div class="col-lg-4"><%= urtask.due_date.strftime('%d %b %Y')%></div>
                <div class="col-lg-4"><%= distance_of_time_in_words(urtask.due_date, Time.now) %></div>
                <% end %>
            </div>
            <% end %>

            <% end %>

            <h5><%= link_to 'View All Tasks', tasks_path, class: "pull-right" %></h5>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="panel panel-default panel-body">
            <h5>Total Sales Previous Month</h5>
            asasfafasf<br>
            asasfafasf<br>
            asasfafasf<br>
            asasfafasf<br>
            asasfafasf<br>
            asasfafasf<br>
            asasfafasf<br>
            <h5><%= link_to 'View Report', '#', class: "pull-right" %></h5>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="panel panel-default panel-body">
            <h5>Latest Opportunities List</h5>
            <% if @opportunities.blank? %>
            No opportunities registered yet.
        <% else %>
        <div class="row">
          <div class="col-lg-4">
            <small>Name</small>
          </div>
          <div class="col-lg-4">
            <small>Created at Date</small>
          </div>
          <div class="col-lg-4">
            <small>Created at Time</small>
          </div>
        </div>
            <% @opportunities.order('created_at DESC').take(6).each do |op| %>
            <div class="row">
              <div class="col-lg-4">
                <%= link_to op.name, opportunity_path(op) %>
              </div>
              <div class="col-lg-4">
                <%= op.created_at.strftime('%d %b %Y')%>
              </div>
              <div class="col-lg-4">
                <%= op.created_at.strftime('%H:%M:%S')%>
              </div>
            </div>
            <% end %>
            <% end %>
            <h5><%= link_to 'View All Opportunities', opportunities_path, class: "pull-right" %></h5>
        </div>
    </div>
    <div class="col-lg-8">
        <div class="panel panel-default panel-body">
            <h5>Sales Opportunities Pipelines</h5>

            <h5><%= link_to 'View Report', '#', class: "pull-right" %></h5>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-4">
        <div class="panel panel-default panel-body">
            <h5>Top Accounts - Won</h5>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="panel panel-default panel-body">
            <h5>Top Accounts - Open</h5>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="panel panel-default panel-body">
            <h5>Closed Lost by Reason</h5>
        </div>
    </div>
</div>

<script>
    function myClock() {
        var month = [
            'January',
            'February',
            'March',
            'April',
            'May',
            'June',
            'July',
            'August',
            'September',
            'October',
            'November',
            'Disember'
        ]
        var timeNow = new Date();

        var timeDate = timeNow.getDate();
        var timeMonth = month[timeNow.getMonth()];
        var timeYear = timeNow.getFullYear();

        var timeHours = timeNow.getHours();
        var timeMinutes = timeNow.getMinutes();
        var timeSeconds = timeNow.getSeconds();

        var timeClock = timeDate + " " + timeMonth + " " + timeYear + " " + ("0" + timeHours).slice(-2) + ":" + ("0" + timeMinutes).slice(-2) + ":" + ("0" + timeSeconds).slice(-2);

        $('#myClock').html(timeClock);
    }

    $(document).ready(function () {
        setInterval('myClock()', 1000);
    });
</script>
