<div class="row">
    <div class="col-lg-4">
        <div class="panel panel-default panel-body">
            <h5>Time now</h5>
            <h3>
                <div id="myClock"></div>
            </h3>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="panel panel-default panel-body">
            <%= render 'dashboards/dashboard_accounts' %>
        </div>
    </div>
    <div class="col-lg-4">
        <%= render 'dashboards/dashboard_opportunities' %>
    </div>
</div>

<!-- <div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default panel-body">
            <h5>Sales Opportunities Pipelines</h5>
            <h5><%= link_to 'View Report', '#', class: "pull-right" %></h5>
        </div>
    </div>
</div> -->

<div class="row">
    <div class="col-lg-4">
        <div class="panel panel-default panel-body">
            <%= render 'dashboards/dashboard_tasks' %>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="panel panel-default panel-body">
            <%= render 'dashboards/dashboard_calls' %>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="panel panel-default panel-body">
            <%= render 'dashboards/dashboard_events' %>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-4">
        <%= render 'dashboards/dashboard_topwon' %>
    </div>
    <div class="col-lg-4">
        <%= render 'dashboards/dashboard_toploss' %>
    </div>
    <div class="col-lg-4">
        <%= render 'dashboards/dashboard_lossreason' %>
    </div>
</div>

<script>
    function myClock() {
        var month = [
            'January',
            'February',
            'March',
            'April',
            'May',
            'June',
            'July',
            'August',
            'September',
            'October',
            'November',
            'Disember'
        ]
        var timeNow = new Date();

        var timeDate = timeNow.getDate();
        var timeMonth = month[timeNow.getMonth()];
        var timeYear = timeNow.getFullYear();

        var timeHours = timeNow.getHours();
        var timeMinutes = timeNow.getMinutes();
        var timeSeconds = timeNow.getSeconds();

        var timeClock = timeDate + " " + timeMonth + " " + timeYear + " " + ("0" + timeHours).slice(-2) + ":" + ("0" + timeMinutes).slice(-2) + ":" + ("0" + timeSeconds).slice(-2);

        $('#myClock').html(timeClock);
    }

    $(document).ready(function () {
        setInterval('myClock()', 1000);
    });
</script>
