<div class="row">
    <div class="col-lg-4">
        <div class="panel panel-default panel-body">
            <h3>
                <strong>Latest Marketing Activities</strong>
            </h3>
            <hr>
            <% if @marketings.blank? %>
              No marketing activities found.
            <% else %>
            <div class="row">
              <div class="col-lg-6">
                <small>Name</small>
              </div>
              <div class="col-lg-6">
                <small>Created at DateTime</small>
              </div>
            </div>
            <% @marketings.each do |mrkt| %>
            <div class="row">
              <div class="col-lg-6">
                <%= link_to mrkt.name, opportunity_path(mrkt) %>
              </div>
              <div class="col-lg-6">
                <%= mrkt.created_at.strftime('%d %b %Y %H:%M:%S') %>
              </div>
            </div>
            <% end %>
            <% end %>
        </div>
    </div>

</div>

<div class="row">
  <div class="col-lg-4">
    <%= render 'dashboards/mrkt_tasks' %>
  </div>
  <div class="col-lg-4">
    <%= render 'dashboards/mrkt_calls' %>
  </div>
  <div class="col-lg-4">
    <%= render 'dashboards/mrkt_events' %>
  </div>
</div>
