<h4>Notes</h4>
<div id="notice-accnote"></div>
<% if @account.accnotes.blank? %>
No notes submitted yet.
<% else %>
<div class="row">
    <% @account.accnotes.each do |accnote| %>
    <div class="col-lg-6 panel panel-body">

        <div class="pull-right">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="caret"></i>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to 'Show', '#', data: {toggle: "modal", target: "#accnoteInfo-#{accnote.id}"}%></li>
                <li><%= link_to 'Edit', '#',
              data: {toggle: "modal", target: "#noteEdit-#{accnote.id}"} %></li>
                <li><%= link_to 'Delete',
              account_accnote_path(@account, accnote), method: :delete, remote: true %></li>
            </ul>
        </div>
        <h5>
            <%= link_to accnote.title.truncate(40), '#',
          data: {toggle: "modal", target: "#accnoteInfo-#{accnote.id}"} %>
          <br>
            <small>
                Created by
                <%= accnote.user.name %>
                &middot
                <%= time_ago_in_words(accnote.created_at) %>
                ago
            </small>
        </h5>
        <%= accnote.description.truncate(100) %>
    </div>

    <!-- Modal -->
    <div id="accnoteInfo-<%= accnote.id %>" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">
                        <small>Note</small>
                        <br>
                        <%= accnote.title %>
                        <br>
                        <small>
                          Created by
                        <%= accnote.user.name %>
                        &middot
                        <%= time_ago_in_words(accnote.created_at) %>
                        ago
                        </small>
                    </h4>
                </div>
                <div class="modal-body">
                    <%= simple_format h(accnote.description) %>
                </div>
                <div class="modal-footer">

                    <%= link_to 'Close', '#', class: "btn btn-default", data: {dismiss: "modal"}%>
                </div>
            </div>
        </div>
    </div>
    <% end %>
</div>
<% end %>
