<h4>Timeline &middot History</h4>

<% op = @subject.timelines.order('created_at DESC').includes(:user, :activity).page(params[:page]).per(5) %>

<% if op.blank? %>
<p>Every changes will be recorded here.</p>
<% else %>

<% tldate_current = "" %>
<% tldate_previous = "" %>

<% op.each do |timeline| %>

<% tldate_current = timeline.created_at.strftime('%B %Y') %>
<% if tldate_current != tldate_previous %>
<hr>
<div class="text-center">
<h3><small><%= tldate_current %></small></h3>
</div>
<% end %>

<div class="panel panel-default panel-body">
    <div class="media">
        <div class="media-left" style="padding-top: 6px;">
            <% if timeline.user.avatar.blank? %>
            <%= letter_avatar_tag(timeline.user.name, 25, class: "media-object")%>
        <% else %>
            <%= image_tag(timeline.user.avatar.url(:small), class: "media-object")%>
            <% end %>
        </div>
        <div class="media-body">
            <small>
                <%= link_to timeline.user.name, user_path(timeline.user.id) %>
                <%= timeline.action %>
                <strong><%= link_to timeline.nactivity.truncate(40), '#' %></strong>
                <% unless timeline.action == "created account" ||
                  timeline.action == "added attachment file to account" ||
                  timeline.action == "deleted attachment file from account" ||
                  timeline.action == "added attachment file to opportunity" ||
                  timeline.action == "deleted attachment file from opportunity" ||
                  timeline.action == "created opportunity" ||
                  timeline.action == "created case"
                  %>
                to
                <% if timeline.activity_type == "Account" %>
                <%= timeline.activity_type.downcase %>
                <strong><%= link_to timeline.activity.account_name, '#' %></strong>
                <% elsif timeline.activity_type == "Opportunity" %>
                <strong><%= link_to timeline.activity.name, '#' %></strong>
                <% end %>

                <% end %>

            </small>
            <h5 style="margin-top: -2px;">
                <small>
                    <%= timeline.created_at.strftime('%d %b %Y') %>
                    &middot
                    <%= time_ago_in_words(timeline.created_at) %>
                    ago
                </small>
                <h5></div>
            </div>
        </div>
        <% tldate_previous = tldate_current %>
        <% end %>
        <div class="text-center" id="paginator">
            <%= page_entries_info op %><br>
            <%= paginate op, remote: true %>
        </div>
        <% end %>
