<h4>Timeline &middot History</h4>

<% op = @subject.timelines.order('created_at DESC').includes(:user, :activity).page(params[:page]).per(5) %>

<% if op.blank? %>
<p>Every changes will be recorded here.</p>
<% else %>

<% op.each do |timeline| %>
<div class="panel panel-default panel-body">
    <div class="media">
        <div class="media-left" style="padding-top: 6px;">
            <% if timeline.user.avatar.blank? %>
            <%= letter_avatar_tag(timeline.user.name, 25, class: "media-object")%>
        <% else %>
            <%= image_tag(timeline.user.avatar.url(:small), class: "media-object")%>
            <% end %>
        </div>
        <div class="media-body">
            <small>
                <%= link_to timeline.user.name, user_path(timeline.user.id) %>
                <%= timeline.action %>
                <%= link_to timeline.nactivity.truncate(50), update_read_status_path(timeline) %>
                <% unless timeline.action == "created account" ||
                  timeline.action == "added attachment file to" %>
                on
                <% if timeline.activity_type == "Account" %>
                <%= timeline.activity_type.downcase %>
                <strong><%= timeline.activity.account_name %></strong>
                <% elsif timeline.activity_type == "Opportunity" %>
                <%= timeline.activity_type.downcase %>
                <strong><%= timeline.activity.name %></strong>
                <% end %>
                <% end %>
                <div class="pull-right">
                    <% if params[:controller] == "opportunities" || params[:opportunity_id] %>

                    <%= link_to opportunity_timeline_path(@subject, timeline),
                      method: :delete, remote: true do %>
                    <i class="fa fa-times"></i>
                    <% end %>

                    <% elsif params[:controller] == "accounts" || params[:account_id] %>

                    <%= link_to account_timeline_path(@subject, timeline),
                      method: :delete, remote: true do %>
                    <i class="fa fa-times"></i>
                    <% end %>

                    <% end %>
                </div>
            </small>
            <h5 style="margin-top: -2px;">
                <small>
                    <%= timeline.created_at.strftime('%d %b %Y') %>
                    &middot
                    <%= time_ago_in_words(timeline.created_at) %>
                    ago
                </small>
                <h5></div>
            </div>
        </div>
        <% end %>
        <div class="text-center" id="paginator">
            <%= page_entries_info op %><br>
            <%= paginate op, remote: true %>
        </div>
        <% end %>
