<% if params[:type] %>
<%= f.input :business_type, as: :hidden, input_html: { value: params[:type] }%>
<% else %>
<%= f.input :business_type, label: "Type",
  collection: ["Opportunity", "Case", "Marketing"], include_blank: false %>
<% end %>

<%= f.input :name, label: "Name", placeholder: "Name", autofocus: true %>
<%= f.label "Assign to Account Name" %>
<%= f.select :account_id,
  Account.all.collect {|acc| [acc.account_name, acc.id] }, {},
  {class: "form-control selectpicker", data: {live_search: true}} %>
<br><br>

<div class="form-group select optional opportunity_status">
    <%= f.label "Status", class: "control-label select optional" %>

    <% opstatus = ["Open", "Approved", "Closed-Won", "Closed-Loss"] %>
    <% casestatus = ["In Progress", "Solved"] %>
    <% mrktstatus = ["Preparation", "Happening Now", "Passed"] %>

    <select name="opportunity[status]" id="opportunity_status" class="select form-control optional">
        <% opstatus.each do |opstat| %>
        <option id="optop" value="<%= opstat %>"><%= opstat %></option>
        <% end %>

        <% casestatus.each do |cstat| %>
        <option id="optcase" value="<%= cstat %>"><%= cstat %></option>
        <% end %>

        <% mrktstatus.each do |mrktstat| %>
        <option id="optmrkt" value="<%= mrktstat %>"><%= mrktstat %></option>
        <% end %>
    </select>
</div>
<%= f.input :probability, label: "Opportunity probability",
          placeholder: "In percentage" %>

<%= f.input :amount, label: "Amount", placeholder: "Activity amount" %>
<%= f.label "Opportunity close date", id: "opdate" %>
<%= f.label "Case solved date", id: "casedate" %>
<%= f.label "Approved date", id: "aprvdate" %>
<%= f.input :close_date, label: false, as: :date_time_picker %>
<%= f.input :loss_reason, label: "Loss Reason", placeholder: "Loss reason" %>

<%= f.input :description, input_html: {rows: 5},
  label: "Description", placeholder: "Description" %>
<%= f.label "Assign user as owner" %>
<%= f.input :user_id, label: false, collection: User.all,
  include_blank: "Choose owner" %>
