
<!-- Modal -->
<div id="opportunityModalForm" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Create New Opportunity</h4>
      </div>
      <div class="modal-body">
        <%= simple_form_for @opportunity do |f| %>
        <%= f.input :name, label: "Opportunity Name" %>
        <div class="row">
        <div class="col-lg-6">
        <%= f.input :business_type %>
        <%= f.input :probability, placeholder: "in percentage" %>
      </div>
      <div class="col-lg-6">
        <%= f.input :account_id, collection: @accounts, value_method: :id,
        input_selected: @opportunity.account_id ,include_blank: false %>
        <%= f.input :close_date, as: :date_time_picker %>
        <%= f.input :amount %>
      </div>
    </div>
    <%= f.input :loss_reason %>
    <%= f.input :next_step %>
    <%= f.input :description %>
      </div>
      <div class="modal-footer">
        <%= f.button :submit, class: "btn-success" %>
        <% end %>

        <%= link_to 'Cancel', '#', class: "btn btn-default", data: {dismiss: "modal"} %>
      </div>
    </div>

  </div>
</div>
