<!-- Modal -->
<div id="opportunityModalForm" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width: 1000px;">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><%= yield :form_title %></h4>
            </div>

            <% if @accounts.blank? %>
            <div class="modal-body">
                <div class="text-center">
                    <h3>Create account first before create opportunity</h3>
                </div>
            </div>
            <div class="modal-footer">
                <%= link_to 'Cancel', '#', class: "btn btn-default", data: {dismiss: "modal"} %>
            </div>
        <% else %>
            <div class="modal-body">

                <%= simple_form_for @opportunity, html: {multipart: true}, remote: true do |f| %>
                <div class="row">
                    <div class="col-lg-4">
                        <h4>Opportunity Details</h4>
                        <br>
                        <%= f.input :name, label: "Opportunity Name",
                        placeholder: "Opportunity name", autofocus: true %>
                        <%= f.association :account, label: "Account Name",
                        include_blank: "Choose related account",
                        label_method: lambda { |account| "#{account.account_name}" } %>
                        <%= f.input :status, collection: ["Open", "Closed-Won", "Closed-Loss"],
                        include_blank: false %>
                        <%= f.input :close_date, as: :date_time_picker %>
                    </div>
                    <div class="col-lg-4">
                        <br><br><br>
                        <%= f.input :business_type, label: "Business Type",
                        placeholder: "Business type" %>
                        <%= f.input :probability, label: "Probability",
                        placeholder: "Probability in percentage" %>
                        <%= f.input :amount, label: "Amount", placeholder: "Opportunity amount" %>
                        <%= f.input :loss_reason, label: "Loss Reason", placeholder: "Loss reason" %>
                    </div>
                    <div class="col-lg-4">
                        <br><br><br>
                        <%= f.input :description, input_html: {rows: 9}, label: "Description",
                        placeholder: "Opportunity description" %>

                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <%= f.button :submit, class: "btn-success" %>
                <% end %>
                <!-- simple_form_for -->

                <%= link_to 'Cancel', '#', class: "btn btn-default", data: {dismiss: "modal"} %>
            </div>
            <% end %>
            <!-- @accounts.blank? -->
        </div>
    </div>
</div>

<%= javascript_tag defer: 'defer' do %>
<% if params[:action] == "index" %>
$('.opportunity_close_date').hide();
$('.opportunity_loss_reason').hide();

$('#opportunity_status').on("change", function(){
  var status = $('#opportunity_status').val();
  if(status == "Closed-Win" || status == "Closed-Loss"){
      $('.opportunity_close_date').show();
  } else if(status == "Open"){
    $('.opportunity_close_date').hide();
  }

  if(status == "Closed-Loss"){
    $('.opportunity_loss_reason').show();
  } else {
    $('.opportunity_loss_reason').hide();
  }
});
<% elsif params[:action] == "show" %>
$('.opportunity_close_date').hide();
$('.opportunity_loss_reason').hide();

$('.opportunity_status').on("change", function(){
  var status_val = $('#opportunity_status').val();
  if(status_val == "Closed-Won" || status_val == "Closed-Loss"){
    $('.opportunity_close_date').show();
  }

  if(status_val == "Closed-Loss"){
    $('.opportunity_loss_reason').show();
  }

  if(status_val == "Closed-Won"){
    $('.opportunity_loss_reason').hide();
  }

  if(status_val == "Open"){
    $('.opportunity_close_date').hide();
    $('.opportunity_loss_reason').hide();
  }
});

<% end %>
<% end %>
