<!-- Modal -->
<div id="opportunityModalForm" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width: 1000px;">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><%= yield :form_title %></h4>
            </div>

            <% if @accounts.blank? %>
            <div class="modal-body">
                <div class="text-center">
                    <h3>Create account first before create opportunity / case</h3>
                </div>
            </div>
            <div class="modal-footer">
                <%= link_to 'Cancel', '#', class: "btn btn-default", data: {dismiss: "modal"} %>
            </div>
        <% else %>
            <div class="modal-body">

                <%= simple_form_for @opportunity, html: {multipart: true}, remote: true do |f| %>
                <div class="row">
                    <div class="col-lg-4">
                        <h4>Opportunity / Case Details</h4>
                        <br>
                        <%= f.input :name, label: "Opportunity / Case Name",
                        placeholder: "Opportunity name", autofocus: true %>

                        <%= f.input :business_type, label: "Type",
                        collection: ["Opportunity", "Case"], include_blank: false %>

                        <div class="form-group select optional opportunity_status required">
                          <abbr title="required">*</abbr>
                        <%= f.label "Status", class: "control-label select optional required" %>
                        <% opstatus = ["Open", "Approved", "Closed-Won", "Closed-Loss"] %>
                        <% casestatus = ["In Progress", "Solved"] %>
                        <select name="opportunity[status]" id="opportunity_status" class="select form-control optional">
                          <option><%= @opportunity.status %></option>
                            <% opstatus.each do |opstat| %>
                            <% next if opstat == @opportunity.status %>
                            <option id="optop" value="<%= opstat %>"><%= opstat %></option>
                            <% end %>
                            <% casestatus.each do |cstat| %>
                            <% next if cstat == @opportunity.status %>
                            <option id="optcase" value="<%= cstat %>"><%= cstat %></option>
                            <% end %>
                        </select>
                        </div>

                        <%= f.label "Opportunity close date", id: "opdate" %>
                        <%= f.label "Case solved date", id: "casedate" %>
                        <%= f.input :close_date, label: false, as: :date_time_picker %>
                    </div>
                    <div class="col-lg-4">
                        <br><br><br>
                        <%= f.label "Account Association" %>
                        <%= f.select :account_id,
                        Account.all.collect {|acc| [acc.account_name, acc.id] }, {},
                        {class: "form-control selectpicker", data: {live_search: true}} %>
                        <br><br>
                        <%= f.input :probability, label: "Probability",
                        placeholder: "In percentage" %>
                        <%= f.input :amount, label: "Amount", placeholder: "Opportunity amount" %>
                        <%= f.input :loss_reason, label: "Loss Reason", placeholder: "Loss reason" %>
                    </div>
                    <div class="col-lg-4">
                        <br><br><br>
                        <%= f.input :description, input_html: {rows: 9}, label: "Description",
                        placeholder: "Description" %>

                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <%= f.button :submit, class: "btn-success" %>
                <% end %>
                <!-- simple_form_for -->

                <%= link_to 'Cancel', '#', class: "btn btn-default", data: {dismiss: "modal"} %>
            </div>
            <% end %>
            <!-- @accounts.blank? -->
        </div>
    </div>
</div>

<%= javascript_tag defer: 'defer' do %>

<% if params[:action] == "show" %>

$('.opportunity_close_date').hide();
$('.opportunity_loss_reason').hide();
$('#opdate').hide();
$('#casedate').hide();

$('.opportunity_business_type').on("change", function(){
  $('.opportunity_close_date').hide();
  $('#opdate').hide();
  $('#casedate').hide();
  var type_val = $('#opportunity_business_type').val();
  if(type_val == "Opportunity"){
    $('#opportunity_status option[id=optcase]').hide();
    $('#opportunity_status option[id=optop]').show();
    $('#opportunity_status').val('Open');
  }else if(type_val == "Case"){
    $('#opportunity_status option[id=optop]').hide();
    $('#opportunity_status option[id=optcase]').show();
    $('#opportunity_status').val('In Progress');
  }
});

$('.opportunity_status').on("change", function(){
  var status_val = $('#opportunity_status').val();
  if(status_val == "Closed-Won" || status_val == "Closed-Loss"){
    $('.opportunity_close_date').show();
    $('#opdate').show();
    $('#casedate').hide();
  }

  if(status_val == "Solved"){
    $('#opdate').hide();
    $('#casedate').show();
    $('.opportunity_close_date').show();
  }

  if(status_val == "Closed-Loss"){
    $('.opportunity_loss_reason').show();
  }

  if(status_val == "Closed-Won" || status_val == "Solved"){
    $('.opportunity_loss_reason').hide();
  }

  if(status_val == "Open" || status_val == "In Progress"){
    $('.opportunity_close_date').hide();
    $('#opdate').hide();
    $('#casedate').hide();
    $('.opportunity_loss_reason').hide();
  }

});

var status_val = $('#opportunity_status').val();
if(status_val == "Closed-Won"){
  $('.opportunity_close_date').show();
  $('#opdate').show();
  $('#casedate').hide();
}else if(status_val == "Closed-Loss"){
  $('.opportunity_close_date').show();
  $('#opdate').show();
  $('#casedate').hide();
  $('.opportunity_loss_reason').show();
}

var close_date_val = $('#opportunity_close_date').val();
if(close_date_val){
  $('.opportunity_close_date').show();
  var type_val = $('#opportunity_business_type').val();
  if(type_val == "Opportunity"){
    $('#opdate').show();
  }else if(type_val == "Case"){
    $('#casedate').show();
  }
}

var loss_reason_val = $('#opportunity_loss_reason').val();
if(loss_reason_val){
  $('.opportunity_loss_reason').show();
}

var type_val = $('#opportunity_business_type').val();
if(type_val == "Opportunity"){
  $('#opportunity_status option[id=optcase]').hide();
}else if(type_val == "Case"){
  $('#opportunity_status option[id=optop]').hide();
}
<% end %>
<% end %>
