<div class="row">
    <div class="col-lg-10">
        <div class="media">
            <div class="media-left">
                <div style="padding-top: 20px;"></div>
                <%= letter_avatar_tag('Opportunity', 50, class: "media-object") %>
            </div>
            <div class="media-body">
                <h3>Opportunities
                    <br>
                    <small>All Opportunities</small>
                </h3>
            </div>
        </div>
    </div>
    <div class="col-lg-2">
        <h3><%= link_to "Create New Opportunity", new_opportunity_path(type: params[:type]), class: "btn btn-default" %></h3>
    </div>
</div>

<div id="notice-op"></div>

<hr>

<div class="row">
    <div class="col-lg-1 col-xs-1 text-center">
        <strong>ID</strong>
    </div>
    <div class="col-lg-2 col-xs-10">
        <strong>Opportunity Name</strong>
        <br><br>
    </div>
    <div class="col-lg-2 col-xs-6">
        <strong>Account Name</strong>
    </div>
    <div class="col-lg-2 col-xs-6">
        <strong>Current Stage</strong>
        <br><br>
    </div>
    <div class="col-lg-1 col-xs-6">
        <strong>Status</strong>
        <div class="dropdown">
            <%= link_to '#',data: {toggle: 'dropdown'}, class: 'dropdown-toggle' do %>
            Show only
            <span class="caret"></span>
            <% end %>

            <ul class="dropdown-menu">
                <li><%= link_to 'Open', "?status=Open" %></li>
                <li><%= link_to 'Approved', "?status=Approved" %></li>
                <li><%= link_to 'Closed-Won', "?status=Closed-Won" %></li>
                <li><%= link_to 'Closed-Loss', "?status=Closed-Loss" %></li>
                <li><%= link_to 'Show All Opportunities', "#" %></li>
            </ul>

        </div>
        <br>
    </div>
    <div class="col-lg-2 col-xs-2 text-center">
        <strong>Action</strong>
    </div>
</div>

<% if @opportunities.blank? %>
<hr>
<div class="text-center">
    No opportunities found.<br><br>
    <%= link_to 'Create new opportunity', new_opportunity_path %>
</div>

<% else %>

<% @opportunities.each do |opportunity| %>
<hr>
<div class="row">
    <div class="col-lg-1 col-xs-1 text-center">
        <span class="badge"><%= opportunity.id %></span>
    </div>
    <div class="col-lg-2 col-xs-10">
        <!-- Opportunity Name -->
        <% if opportunity.name.blank? %>
        <span style="color: red;">Opportunity name not specified</span>
    <% else %>
        <%= link_to opportunity.name, opportunity_path(opportunity) %>
        <% end %>
        <br><br>
    </div>
    <div class="col-lg-2 col-xs-6">
        <!-- Account Name -->
        <% if opportunity.account_id.blank? %>
        <span style="color: red;">Account not specified</span>
    <% else %>
        <%= link_to opportunity.account.name, account_path(opportunity.account) %>
        <% end %>
    </div>
    <div class="col-lg-2 col-xs-6">
        <!-- Current Stage -->
        <% if opportunity.stages.blank? %>
        <span style="color: red;">Not specified</span>
    <% else %>
        <% opportunity.stages.each do |stage| %>
        <% if stage.status == "In Progress" %>
        <%= stage.name %><br>
        <small>(In Progress)</small>
        <% elsif stage.status == "Completed" && stage.id == opportunity.stages.last.id %>
        <span style="color: green;">
            <%= stage.name %><br>
            <small>(Final stage completed)</small>
        </span>
        <% end %>
        <% end %>
        <% end %>
        <br><br>
    </div>
    <div class="col-lg-1 col-xs-6">
        <%= opportunity.status %>
        <br><br>
    </div>
    <div class="col-lg-2 col-xs-2 text-center">
        <a href="#" class="dropdown-toggle btn btn-default" data-toggle="dropdown">
            <i class="caret"></i>
        </a>
        <ul class="dropdown-menu">
            <li><%= link_to 'Show', opportunity_path(opportunity) %></li>
            <li><%= link_to 'Delete', opportunity_path(opportunity),
          method: :delete, data: {confirm: "Are you sure?"}, remote: true %></li>
        </ul>
    </div>
</div>

<% end %>
<br>
<div class="text-center">
    <%= paginate @opportunities %>
</div>
<% end %>
