<div class="row">
    <div class="col-lg-6">
        <small>Opportunity / Case Name</small>
        <h4>
            <% if @opportunity.name.blank? %>
            <span style="color: red;">
                Name not specified
            </span>
        <% else %>
            <%= @opportunity.name %>
            <% end %>
        </h4>
        <br>

        <small>Account Name</small>
        <h4>
            <% if @opportunity.account_id.blank? %>
            <span style="color: red;">
                Account not specified
            </span>
        <% else %>
            <%= link_to @opportunity.account.account_name, account_path(@opportunity.account) %>
            <% end %>
        </h4>
        <br>

        <small>Business Type</small>
        <h4>
            <% if @opportunity.business_type.blank? %>
            <span style="color: red;">
                Business type not specified
            </span>
        <% else %>
            <%= @opportunity.business_type %>
            <% end %>
        </h4>
        <br>

        <small>Probability</small>
        <h4>
            <% if @opportunity.probability.blank? %>
            <span style="color: red;">
                Probability not specified
            </span>
        <% else %>
            <%= @opportunity.probability %>
            percent
            <% end %>
        </h4>
        <br>
    </div>
    <div class="col-lg-6">
        <small>Amount</small>
        <h4>
            <% if @opportunity.amount.blank? %>
            <span style="color: red;">
                Amount not specified
            </span>
        <% else %>
            <%= @opportunity.amount %>
            <% end %>
        </h4>
        <br>

        <small>Status</small>
        <h4>
            <% if @opportunity.status == "Closed-Loss" %>
            <span style="color: red;">Closed-Loss</span>
            <% elsif @opportunity.status == "Closed-Won" %>
            <span style="color: green">Closed-Won</span>
            <% elsif @opportunity.status == "Open" %>
            Open
            <% elsif @opportunity.status == "Solved" %>
            <span style="color: green;">Solved</span>
            <% elsif @opportunity.status == "In Progress" %>
            In Progress
            <% elsif @opportunity.status == "" %>
            <span style="color: red">Status not specified</span>
            <% end %>
        </h4>
        <br>

        <% unless @opportunity.status == "Open" ||
          @opportunity.status == "" ||
          @opportunity.status == "In Progress" %>
        <small>Close / Solve Date</small>
        <h4>
            <% if @opportunity.close_date.blank? %>
            <span style="color: red;">
                Close / Solve Date not specified
            </span>
            <% else %>
            <%= @opportunity.close_date.strftime('%d %b %Y') %>
            <% end %>
        </h4>
        <% end %>
        <br>

        <% if @opportunity.status == "Closed-Loss" %>
        <small>Loss Reason</small>
        <h4>
            <% if @opportunity.loss_reason.blank? %>
            <span style="color: red;">
                Loss reason not specified
            </span>
        <% else %>
            <%= @opportunity.loss_reason %>
            <% end %>
        </h4>
        <% end %>

    </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <small>Description</small>
    <h4>
        <% if @opportunity.description.blank? %>
        <span style="color: red;">
            Description not specified
        </span>
    <% else %>
        <%= @opportunity.description %>
        <% end %>
    </h4>
    <br>
  </div>
</div>
<hr>
<div class="row">
<div class="col-lg-6">
  <small>Opportunity Created at</small>
  <h4>
      <%= @opportunity.created_at.strftime('%d %b %Y  %H:%M:%S') %>
  </h4>
</div>
<div class="col-lg-6">
  <small>Opportunity Last Updated at</small>
  <h4>
      <%= @opportunity.updated_at.strftime('%d %b %Y  %H:%M:%S') %>
  </h4>
</div>
</div>
