<div class="row">
    <div class="col-lg-2">
        <small>Account</small>
        <br>
        <h4>
            <% if @opportunity.account.blank? %>
            <span style="color: red;">Account not assigned</span>
        <% else %>
            <%= link_to @opportunity.account.account_name, account_path(@opportunity.account) %>
            <% end %>
        </h4>
    </div>
    <div class="col-lg-2">
        <small>Amount</small>
        <br>
        <h4>
            <% if @opportunity.amount.blank? %>
            <span style="color: red;">Not specified</span>
        <% else %>
            RM <%= sprintf('%.2f' % @opportunity.amount) %>
            <% end %>
        </h4>
    </div>

    <div class="col-lg-2">
        <small>Current Stage</small>
        <br>
        <h4>
          <% if @opportunity.stages.blank? %>
            <span style="color: red;">Not specified</span>
          <% else %>
            <% @opportunity.stages.each_with_index do |stage, index| %>
              <% if stage.status == "In Progress" %>
                <%= stage.name %><br>
                <% if stage.id == @opportunity.stages.last.id %>
                <small>Final stage in progress</small>
                <% else %>
                <small>Stage <%= index+1 %> In Progress</small>
                <% end %>
              <% elsif stage.status == "Completed" && stage.id == @opportunity.stages.last.id %>
                <%= stage.name %><br>
                <small>Final stage completed</small>
              <% end %>
            <% end %>
          <% end %>
        </h4>
    </div>

    <div class="col-lg-2">
        <small>Status</small>
        <br>
        <h4>
            <% if @opportunity.status == "Closed-Loss" %>
            <span style="color: red;">Closed-Loss</span>
            <% elsif @opportunity.status == "Closed-Won" %>
            <span style="color: green;">Closed-Won</span>
            <% elsif @opportunity.status == "Open" %>
            Open
            <% elsif @opportunity.status == "Solved" %>
            <span style="color: green;">Solved</span>
            <% elsif @opportunity.status == "In Progress" %>
            In Progress
            <% elsif @opportunity.status == "Approved" %>
            Approved
            <% elsif @opportunity.status == "" %>
            <span style="color: red">Status not specified</span>
            <% end %>
        </h4>
    </div>

    <% if @opportunity.status == "Closed-Won" ||
      @opportunity.status == "Closed-Loss" ||
      @opportunity.status == "Approved" ||
      @opportunity.status == "Solved" %>
    <div class="col-lg-2">
        <small>
          <%= @opportunity.status %>
          Date
        </small>
        <br>
        <h4>
            <% if @opportunity.close_date.blank? %>
            <span style="color: red;">Date not specified</span>
        <% else %>
            <%= @opportunity.close_date.strftime('%d %b %Y') %>
            <% end %>
        </h4>
    </div>
    <% end %>

    <div class="col-lg-2">
        <small><%= @opportunity.business_type %> Owner</small>
        <br>
        <h4><%= link_to @opportunity.user.name, user_path(@opportunity.user) %></h4>
    </div>
</div>
