<div id="task_list" class="tab-pane fade in active">
    <h4>Tasks</h4>
    <% if @opportunity.tasks.blank? %>
    No tasks created yet.
    <% else %>
    <ul class="list-group">
      <div class="row">
        <div class="col-lg-5">
          <strong>Description</strong>
        </div>
        <div class="col-lg-3">
          <strong>Due date</strong>
        </div>
        <div class="col-lg-2">
          <strong>Status</strong>
        </div>
        <div class="col-lg-2">
          <strong>Action</strong>
        </div>
      </div>
        <% @opportunity.tasks.each do |task| %>
        <li class="list-group-item">
            <div class="row">
                <div class="col-lg-5">
                    <%= task.description %>
                </div>
                <div class="col-lg-3">
                  <% if task.due_date.blank? %>
                  <span style="color: red;">Date not specified</span>
                  <% else %>
                  <%= task.due_date.strftime('%d %b %Y') %>
                  <% end %>
                </div>
                <div class="col-lg-2">
                    <% if task.complete == false %>
                    <span style="color: red;">Incomplete</span>
                <% else %>
                    <span style="color: green;">Completed</span>
                    <% end %>
                </div>
                <div class="col-lg-2">
                  <a href="#" class="dropdown-toggle btn btn-default" data-toggle="dropdown">
                    <i class="caret"></i>
                  </a>
                  <ul class="dropdown-menu">
                    <li>
                      <% if task.complete == false %>
                      <%= link_to 'Mark as Completed', update_task_status_path(@opportunity, task) %>
                      <% else %>
                      <%= link_to 'Mark as Incomplete', update_task_status_path(@opportunity, task) %>
                      <% end %>
                    </li>
                    <li><%= link_to 'Edit Task', '#' %></li>
                    <li><%= link_to 'Delete Task', opportunity_task_path(task), method: :delete %></li>
                  </ul>
                </div>
            </div>
        </li>
        <% end %>
    </ul>
    <% end %>
</div>
