<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <h3>Create New Activity</h3>
        <hr>
        <%= simple_form_for [@account, @opportunity] do |f| %>
        <div class="row">
            <div class="col-lg-12">
                <%= f.input :name, label: "Activity Name", placeholder: "Activity name", autofocus: true %>
                <br>
                <strong>Belongs to Account Name</strong>
                <h4><%= @account.account_name %></h4>
                <br>
                <%= f.input :business_type, label: "Type",
                        collection: ["Opportunity", "Case", "Marketing"], include_blank: false %>
                <div class="form-group select optional opportunity_status">
                    <%= f.label "Status", class: "control-label select optional" %>

                    <% opstatus = ["Open", "Approved", "Closed-Won", "Closed-Loss"] %>
                    <% casestatus = ["In Progress", "Solved"] %>
                    <% mrktstatus = ["Preparation", "Happening Now", "Passed"] %>

                    <select name="opportunity[status]" id="opportunity_status" class="select form-control optional">
                        <% opstatus.each do |opstat| %>
                        <option id="optop" value="<%= opstat %>"><%= opstat %></option>
                        <% end %>

                        <% casestatus.each do |cstat| %>
                        <option id="optcase" value="<%= cstat %>"><%= cstat %></option>
                        <% end %>

                        <% mrktstatus.each do |mrktstat| %>
                        <option id="optmrkt" value="<%= mrktstat %>"><%= mrktstat %></option>
                        <% end %>
                    </select>
                </div>
                <%= f.input :probability, label: "Opportunity probability",
                        placeholder: "In percentage" %>

                <%= f.input :amount, label: "Amount", placeholder: "Activity amount" %>
                <%= f.label "Opportunity close date", id: "opdate" %>
                <%= f.label "Case solved date", id: "casedate" %>
                <%= f.label "Approved date", id: "aprvdate" %>
                <%= f.input :close_date, label: false, as: :date_time_picker %>
                <%= f.input :loss_reason, label: "Loss Reason", placeholder: "Loss reason" %>

                <%= f.input :description, input_html: {rows: 5},
                label: "Description", placeholder: "Description" %>
                <%= f.label "Assign user as owner" %>
                <%= f.input :user_id, label: false, collection: User.all,
                include_blank: "Choose owner" %>
            </div>
        </div>
        <hr>
        <%= f.button :submit, class: "btn-success" %>
        <% end %>
        <!-- simple_form_for -->
    </div>
    <div class="col-lg-2"></div>
</div>

<%= render 'opportunities/form_script' %>
