<h3><%= @opportunity.name %></h3>
<br>
<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <small>Account</small>
            <br>
            <h4><%= Account.find_by_id(@opportunity.account_id).name %></h4>
        </div>
        <div class="col-lg-3">
            <small>Opportunity Owner</small>
            <br>
            <h4><%= @opportunity.close_date.strftime('%d %b %Y') %></h4>
        </div>
        <div class="col-lg-3">
            <small>Amount</small>
            <br>
            <h4><%= @opportunity.amount %></h4>
        </div>
        <div class="col-lg-3">
            <small>Opportunity Owner</small>
            <br>
            <h4><%= @opportunity.user.name %></h4>
        </div>
    </div>
</div>
<hr>

<div class="container">
    <div class="row">
        <% for i in 1..6 do %>
        <% if %>
        <div class="col-lg-2 btn btn-default">
        <% else %>
            <div class="col-lg-2 btn btn-success">
                <% end %>
                <span class="pull-left badge"><%= i %></span>
                Nego
                <br>
                <% if %>
                <small>In progress</small><br>
                <small><%= link_to 'Mark as Completed' %></small>
            <% else %>
                <small>Completed</small>
                <% end %>
            </div>
            <% end %>
        </div>
    </div>

<hr>

<div class="container">
<div class="row">
<div class="col-lg-12">
<ul class="nav nav-tabs">
  <li class="active"><%= link_to 'Activities', '#' %></li>
  <li><%= link_to 'Details', '#' %></li>
  <li><%= link_to 'Notes', '#' %></li>
  <li><%= link_to 'Related Contacts', '#' %></li>
  <li><%= link_to 'Related Documents', '#' %></li>
</ul>
</div>
</div>
</div>

<br>

<div class="container">
<div class="row">
  <div class="col-lg-6">
<div class="panel panel-default panel-body">
<%= simple_form_for :act do |f| %>
<%= f.input :try, placeholder: "Activity regarding the opportunity" %>
<%= f.button :submit %>
<% end %>
</div>
</div>
<div class="col-lg-6">
<h4>Timeline</h4>

</div>
</div>
</div>

<div class="container">
<div class="row">
<div class="col-lg-6">

<small>Opportunity Name</small>
<h4><%= @opportunity.name %></h4>
<br>

<small>Account</small>
<h4><%= @opportunity.account_id %></h4>
<br>

<small>Type</small>
<h4><%= @opportunity.type %></h4>
<br>

<small>Probability</small>
<h4><%= @opportunity.probability %></h4>
<br>

<small>Amount</small>
<h4><%= @opportunity.amount %></h4>
<br>

</div>
<div class="col-lg-6">

  <small>Description</small>
  <h4><%= @opportunity.description %></h4>
  <br>

  <small>Loss Reason</small>
  <h4><%= @opportunity.loss_reason %></h4>
  <br>

</div>
</div>
</div>

<div class="container">
<div class="row">
<% for i in 1..6 do %>
<div class="col-lg-3">
<div class="panel panel-default panel-body">
<%= link_to 'This is note about opportunity'%>
<p>adf asdfads asd asdf ad ads ad fa</p>
</div>
</div>
<% end %>
</div>
</div>

<div class="modal">
<div class="modal-body">

</div>
</div>

<div class="container">
<div class="row">
<% for i in 1..6 do %>
<div class="col-lg-3">
<br>
<div class="row">
  <div class="col-lg-3">
<%= image_tag('http://placehold.it/35x35', class: "img-responsive img-center img-circle") %>
</div>
<div class="col-lg-9">
<span style="margin-left: -15px;">Mohammad</span>
</div>
</div>
<div class="row">
<div class="col-lg-12">
Any important info here
</div>
</div>
</div>
<% end %>

</div>
</div>

<div class="container">
<div class="row">
<% for i in 1..6 do %>
<div class="col-lg-2">
  <br>
<%= image_tag('http://placehold.it/200x250', class: "img-responsive img-center")%>
</div>
<% end %>
</div>
</div>

<br>
