<h3><%= @opportunity.name %></h3>
<br>
<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <small>Account</small>
            <br>
            <h4><%= Account.find_by_id(@opportunity.account_id).name %></h4>
        </div>
        <div class="col-lg-3">
            <small>Opportunity Owner</small>
            <br>
            <% if @opportunity.close_date.blank? %>
            <span style="color: red;">Date not specified</span>
            <% else %>
            <h4><%= @opportunity.close_date.strftime('%d %b %Y') %></h4>
            <% end %>
        </div>
        <div class="col-lg-3">
            <small>Amount</small>
            <br>
            <h4><%= @opportunity.amount %></h4>
        </div>
        <div class="col-lg-3">
            <small>Opportunity Owner</small>
            <br>
            <h4><%= @opportunity.user.name %></h4>
        </div>
    </div>
</div>

<hr>

<%= render 'opportunity_stages'%>

<hr>

<div class="container">
<div class="row">
<div class="col-lg-12">
<ul class="nav nav-tabs">
  <li class="active"><%= link_to 'Details', '#' %></li>
  <li><%= link_to 'Activities', '#' %></li>
  <li><%= link_to 'Notes', '#' %></li>
  <li><%= link_to 'Related Contacts', '#' %></li>
  <li><%= link_to 'Related Documents', '#' %></li>
</ul>
</div>
</div>
</div>

<br>

<%= render 'opportunity_activities' %>
<%= render 'opportunity_details' %>
<%= render 'opportunity_notes' %>
<%= render 'opportunity_contacts' %>
<%= render 'opportunity_docs' %>
