<div class="container">
    <div class="row">
        <div class="col-lg-10">
            <h3><%= @opportunity.name %></h3>
        </div>
        <div class="col-lg-2">
            <div class="btn-group pull-right" style="padding-top: 10px;">
                <%= link_to 'Edit', '#', class: "btn btn-default",
                data: {toggle: "modal", target: "#opportunityModalForm"}%>
                <%= link_to 'Delete', opportunity_path(@opportunity), method: :delete,
    data: {confirm: "Are you sure?"},class: "btn btn-default" %>
            </div>
        </div>
    </div>
    <% provide(:form_title, 'Edit Opportunity Entry')%>
    <%= render 'form' %>
    <br>
    <div class="row">
        <div class="col-lg-3">
            <small>Account</small>
            <br>
            <h4>
                <% if @opportunity.account_id.blank? %>
                <span style="color: red;">Account not assigned</span>
            <% else %>
                <%= Account.find_by_id(@opportunity.account_id).name %>
                <% end %>
            </h4>
        </div>
        <div class="col-lg-3">
            <small>Due Date</small>
            <br>
            <h4>
                <% if @opportunity.close_date.blank? %>
                <span style="color: red;">Date not specified</span>
            <% else %>
                <%= @opportunity.close_date.strftime('%d %b %Y') %>
                <% end %>
            </h4>
        </div>
        <div class="col-lg-3">
            <small>Amount</small>
            <br>
            <h4>
              <% if @opportunity.amount.blank? %>
                <span style="color: red;">Amount not specified</span>
              <% else %>
                <%= @opportunity.amount %>
              <% end %>
            </h4>
        </div>
        <div class="col-lg-3">
            <small>Opportunity Owner</small>
            <br>
            <h4><%= @opportunity.user.name %></h4>
        </div>
    </div>
</div>

<hr>

<%= render 'stages/opportunity_stages'%>

<hr>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <ul class="nav nav-tabs">
                <li class="active"><%= link_to 'Activities', '#opportunityActivities',
              data: {toggle: "tab", target: "#opportunityActivities"} %></li>
                <li><%= link_to 'Details', '#opportunityDetails',
                data: {toggle: "tab", target: "#opportunityDetails"} %></li>
                <li><%= link_to 'Notes', '#opportunityNotes',
                data: {toggle: "tab", target: "#opportunityNotes"} %></li>
                <li><%= link_to 'Related Contacts', '#opportunityContacts',
                data: {toggle: "tab", target: "#opportunityContacts"} %></li>
                <li><%= link_to 'Related Documents', '#opportunityDocs',
                data: {toggle: "tab", target: "#opportunityDocs"} %></li>
            </ul>
        </div>
    </div>
</div>

<br>

<div class="container">
    <div class="row">

        <div class="col-lg-6">
            <div class="tab-content">
                <%= render 'activities/index' %>
                <%= render 'details' %>
                <%= render 'notes/related_notes' %>
                <%= render 'contacts/related_contacts' %>
                <%= render 'documents/related_docs' %>
            </div>
        </div>

        <div class="col-lg-6">
          <div class="timelines">
            <%= render 'timelines/timelines_index' %>
          </div>
        </div>
    </div>
</div>
