<div class="row">
    <div class="col-lg-10">
        <h1>Activities / Tasks</h1>
        <p><%= pluralize(Activity.count, 'item') %></p>
    </div>
    <div class="col-lg-2" style="padding-top: 25px;">
        <%= link_to 'New Activity / Task', '#', class: "btn btn-default",
        data: {toggle: "modal", target: "#activityModalForm"} %>
    </div>
</div>

<%= render 'form' %>

<hr>

<% if @activities.blank? %>
<div class="row">
  <div class="col-lg-9">
    No activities.
  </div>
  <div class="col-lg-3">
    <div id="activityCalendar" style="padding-left: 40px;"></div>
  </div>
</div>
<% else %>
<%= render 'modal_show' %>
<div class="row">
    <div class="col-lg-9">
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-3">
                <strong>Activities / Tasks</strong>
            </div>
            <div class="col-lg-2">
                <strong>Due Date</strong>
            </div>
            <div class="col-lg-2">
                <strong>Priority</strong>
            </div>
            <div class="col-lg-2">
                <strong>Status</strong>
            </div>
            <div class="col-lg-2">
                <strong>Action</strong>
            </div>
        </div>
    </div>
    <div class="col-lg-3"></div>
</div>
<br>
<div class="row">
    <div class="col-lg-9">
        <%= render @activities %>
    </div>
    <div class="col-lg-3">
      <div id="activityCalendar" style="padding-left: 40px;"></div>
    </div>
</div>
<% end %>
