<ul class="nav navbar-nav navbar-right">

    <li><%= link_to 'Dashboards', dashboards_path %></li>
    <li><%= link_to 'Accounts', accounts_path %></li>
    <li><%#= link_to 'Contacts', contacts_path %></li>
    <li><%= link_to 'Opportunities', opportunities_path %></li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Activities
            <div class="caret"></div>
        </a>
        <ul class="dropdown-menu">
            <li><%= link_to 'Tasks', tasks_path %></li>
            <li><%= link_to 'Calls', calls_path %></li>
            <li><%= link_to 'Events', events_path %></li>
        </ul>
    </li>
    <li class="dropdown">
        <% @nav_noty = Timeline.includes(:user, :activity).order('created_at DESC') %>
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-bell"></i>
            <span class="badge">
                <% if @nav_noty.blank? %>
                0
            <% else %>
                <%= @nav_noty.where(read: false).count %>
                <% end %>
            </span>
        </a>
        <ul class="dropdown-menu" role="menu">
            <% if @nav_noty.blank? %>
            <li>
                <a href="#">There are no notifications yet.</a>
            </li>
        <% else %>
            <% @nav_noty.take(8).each do |tl| %>

            <% if tl.read == true %>
            <li>
            <% else %>
            <li style="background-color: #d3d3d3;">
                <% end %>
                <%= link_to update_read_status_path(tl) do %>
                <div class="media">
                    <div class="media-left">
                        <% if tl.user.avatar.blank? %>
                        <%= letter_avatar_tag(tl.user.name, 40, class: "media-object") %>
                    <% else %>
                        <%= image_tag(tl.user.avatar.url(:noty), class: "media-object") %>
                        <% end %>
                    </div>
                    <div class="media-body">
                        <small>
                            <strong><%= tl.user.name %></strong>
                            <%= tl.action %>
                            <strong><%= tl.nactivity %></strong>
                            <% unless tl.action == "created account" ||
                                  tl.action == "added attachment file to" %>
                            on
                            <% if tl.activity_type == "Account" %>
                            <%= tl.activity_type.downcase %>
                            <strong><%= tl.activity.account_name %></strong>
                            <% elsif tl.activity_type == "Opportunity" %>
                            <%= tl.activity_type.downcase %>
                            <strong><%= tl.activity.name %></strong>
                            <% end %>

                            <% end %>
                            <br>
                            <%= time_ago_in_words(tl.created_at) %>
                            ago
                        </small>
                    </div>
                </div>
                <% end %>
            </li>
            <hr style="margin-top: 5px; margin-bottom: 5px;">

            <% end %>

            <li><%= link_to 'View All', notifications_path, class: "text-center" %></li>
            <% end %>
        </ul>
    </li>

    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <% if current_user.avatar.blank? %>
            <%= letter_avatar_tag(current_user.name, 25) %>
        <% else %>
            <%= image_tag(current_user.avatar.url(:small)) %>
            <% end %>
            <%= current_user.name.truncate(10) %>
            <i class="caret"></i>
        </a>
        <ul class="dropdown-menu" role="menu">
            <li><%= link_to 'My Profile', user_path(current_user) %></li>
            <li><%= link_to 'Users', users_path %></li>
            <li class="divider"></li>
            <li><%= link_to 'Settings', edit_user_registration_path(current_user) %></li>
            <li class="divider"></li>
            <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
        </ul>
    </li>

</ul>
