<div class="row">
    <div class="col-lg-3">
        <div class="dropdown">
            <%= link_to '#',data: {toggle: 'dropdown'}, class: 'dropdown-toggle' do %>
            Show
            <span class="caret"></span>
            <% end %>
            <ul class="dropdown-menu">

                <small>Opportunity Status</small>
                <li><%= link_to 'Open', "?type=Opportunity&status=Open" %></li>
                <li><%= link_to 'Approved', "?type=Opportunity&status=Approved" %></li>
                <li><%= link_to 'Closed-Won', "?type=Opportunity&status=Closed-Won" %></li>
                <li><%= link_to 'Closed-Loss', "?type=Opportunity&status=Closed-Loss" %></li>
                <li><%= link_to 'Show All Opportunities', "?type=Opportunity" %></li>
                <li class="divider" role="separator"></li>

                <small>Case Status</small>
                <li><%= link_to 'In Progress', "?type=Case&status=In Progress" %></li>
                <li><%= link_to 'Solved', "?type=Case&status=Solved" %></li>
                <li><%= link_to 'Show All Cases', "?type=Case" %></li>
                <li class="divider" role="separator"></li>

                <small>Marketing Status</small>
                <li><%= link_to 'Preparation', "?type=Marketing&status=Preparation" %></li>
                <li><%= link_to 'On-going', "?type=Marketing&status=On-going" %></li>
                <li><%= link_to 'Passed', "?type=Marketing&status=Passed" %></li>
                <li><%= link_to 'Show All Marketings', "?type=Marketing" %></li>

            </ul>
        </div>
    </div>
    <div class="col-lg-9">
      <div class="col-lg-3">
      <small>Type</small><br>
      <%= params[:type] %>
      </div>
      <div class="col-lg-6">
      <small>Status</small><br>
      <%= params[:status] %>
      </div>
    </div>
</div>

<hr>
<% if @accsbj.blank? %>
No records found.
<% else %>

<ul class="list-group">
    <li class="list-group-item">
        <div class="row">
            <div class="col-lg-4">
                <strong><%= params[:type] %>
                    Name</strong>
                <br><br>
            </div>
            <div class="col-lg-4">
                <strong>Status</strong>
                <br>
            </div>
            <div class="col-lg-4">
                <strong>Created at DateTime</strong>
            </div>
        </div>
    </li>

    <% @accsbj.each do |subject| %>
    <li class="list-group-item">
        <div class="row">
            <div class="col-lg-4">
                <%= link_to subject.name, polymorphic_path(subject) %>
                <br><br>
            </div>
            <div class="col-lg-4">
                <%= subject.status %>
            </div>
            <div class="col-lg-4"><%= subject.created_at.strftime('%d %b %Y %H:%M:%S')%></div>
        </div>
    </li>
    <% end %>
    <div class="text-center">
        <%= paginate @accsbj, param_name: :sbj_page, remote: true %>
    </div>
</ul>
<% end %>
<hr>
