<div class="row">
    <div class="col-lg-10">
      <div class="media">
        <div class="media-left">
          <div style="padding-top: 20px;"></div>
          <%= letter_avatar_tag('Accounts', 50, class: "media-object") %>
        </div>
        <div class="media-body">
        <h3>Accounts<br>
          <small>Company Profile</small>
        </h3>
      </div>
      </div>
    </div>
    <div class="col-lg-2 col-xs-12" style="padding-top: 25px;">
        <%= link_to 'New Account', '#', class: "btn btn-default form-control",
        data: {toggle: "modal", target: "#accountModalForm"} %>
    </div>
</div>

<div class="text-center">
<%= paginate @accounts %>
</div>

<div id="notice-acc"></div>

<hr>

<div class="row">
    <div class="col-lg-1 col-xs-1 text-center">
        <strong>ID</strong>
    </div>
    <div class="col-lg-2 col-xs-10">
        <strong>Name</strong>
    </div>
    <div class="col-lg-2 col-xs-6">
        <strong>Email</strong>
    </div>
    <div class="col-lg-2 col-xs-6">
        <strong>Phone</strong>
    </div>
    <div class="col-lg-2 col-xs-6">
        <strong>Industry</strong>
    </div>
    <div class="col-lg-1 col-xs-6">
        <strong>Type</strong>
    </div>
    <div class="col-lg-2 col-xs-2 text-center">
        <strong>Action</strong>
    </div>
</div>
<% if @accounts.blank? %>
<hr>
<div class="text-center">
  No accounts found.<br><br>
  <%= link_to 'Create New Account', '#',
  data: {toggle: "modal", target: "#accountModalForm"} %>
</div>
<% else %>

<% @accounts.each do |account| %>
<hr>
<div class="row">
    <div class="col-lg-1 col-xs-1 text-center">
      <span class="badge"><%= account.id %></span>
    </div>
    <div class="col-lg-2 col-xs-10">
        <% if account.account_name.blank? %>
        <span style="color: red;">Account name not specified</span>
    <% else %>
        <%= link_to account.account_name, account_path(account) %>
        <% end %>
    </div>
    <div class="col-lg-2 col-xs-6">
      <% if account.email.blank? %>
      <span style="color: red;">Email not specified</span>
  <% else %>
      <%= account.email %>
      <% end %>
    </div>
    <div class="col-lg-2 col-xs-6">
        <% if account.phone.blank? %>
        <span style="color: red;">Not specified</span>
    <% else %>
        <%= account.phone %>
        <% end %>
    </div>
    <div class="col-lg-2 col-xs-6">
        <% if account.industry.blank? %>
        <span style="color: red;">Industry not specified</span>
    <% else %>
        <%= account.industry %>
        <% end %>
    </div>
    <div class="col-lg-1 col-xs-6">
        <% if account.account_type.blank? %>
        <span style="color: red;">Account type not specified</span>
    <% else %>
        <%= account.account_type %>
        <% end %>
    </div>
    <div class="col-lg-2 col-xs-2 text-center">
        <a href="#" class="dropdown-toggle btn btn-default" data-toggle="dropdown">
            <i class="caret"></i>
        </a>
        <ul class="dropdown-menu">
            <li><%= link_to 'Show', account_path(account) %></li>
            <li><%= link_to 'Delete', account_path(account),
            method: :delete, data: {confirm: "Are you sure?"},
            remote: true %></li>
        </ul>
    </div>
</div>
<% end %>
<br>
<div class="text-center">
<%= paginate @accounts %>
</div>
<% end %>
