<div class="row">
  <div class="col-lg-3">
    <strong>Email</strong>
    <% if @account.email.blank? %>
    <p style="color: red;">Email not specified</p>
<% else %>
    <p><%= @account.email %></p>
    <% end %>
    <br>
  </div>
    <div class="col-lg-3">
        <strong>Phone number</strong>
        <% if @account.phone.blank? %>
        <p style="color: red;">Phone number not specified</p>
    <% else %>
        <p><%= @account.phone %></p>
        <% end %>
        <br>
    </div>
    <div class="col-lg-3">
        <strong>Billing Address</strong>
        <br>
        <% if @account.billing_street.blank? &&
           @account.billing_city.blank? &&
           @account.billing_state.blank? &&
           @account.billing_postal_code.blank? &&
           @account.billing_country.blank? %>
        <span style="color: red;">
            Billing address not specified
        </span>
    <% else %>

        <% if @account.billing_street != "" %>
        <%= @account.billing_street %>
        <% end %>
        <% if @account.billing_city != "" %>
        <%= @account.billing_city %>,
        <% end %>
        <% if @account.billing_state != "" %>
        <%= @account.billing_state %>,
        <% end %>
        <% if @account.billing_postal_code != "" %>
        <%= @account.billing_postal_code %>
        <% end %>
        <% if @account.billing_country != "" %>
        <%= @account.country_name(@account.billing_country) %>
        <% end %>

        <% end %>
        <br><br>
    </div>
    <div class="col-lg-3">
        <strong>Website</strong>
        <% if @account.website.blank? %>
        <p style="color: red;">Phone number not specified</p>
    <% else %>
        <br>
        <a href="http://<%= @account.website %>" target="_blank">
            <%= @account.website %>
        </a>
        <% end %>
    </div>
</div>
