<% if @account.opportunities.blank? %>
Opportunities not found.
<% else %>

<ul class="list-group">
    <li class="list-group-item">
        <div class="row">
            <div class="col-lg-4">
                <strong>Opportunity Name</strong>
                <br><br>
            </div>
            <div class="col-lg-4">
                <strong>Status</strong>
                <% if params[:type] %>
                <div class="dropdown">
                    <%= link_to '#',data: {toggle: 'dropdown'}, class: 'dropdown-toggle' do %>
                    Show only
                    <span class="caret"></span>
                    <% end %>

                    <ul class="dropdown-menu">
                        <% if params[:type] == "Opportunity" %>
                          <li><%= link_to 'Open', "?status=Open&type=Opportunity" %></li>
                          <li><%= link_to 'Approved', "?status=Approved&type=Opportunity" %></li>
                          <li><%= link_to 'Closed-Won', "?status=Closed-Won&type=Opportunity" %></li>
                          <li><%= link_to 'Closed-Loss', "?status=Closed-Loss&type=Opportunity" %></li>
                          <li class="divider" role="separator"></li>
                          <li><%= link_to 'Show All Opportunities', "?type=Opportunity" %></li>
                        <% elsif params[:type] == "Case" %>
                          <li><%= link_to 'In Progress', "?status=In Progress&type=Case" %></li>
                          <li><%= link_to 'Solved', "?status=Solved&type=Case" %></li>
                          <li class="divider" role="separator"></li>
                          <li><%= link_to 'Show All Cases', "?type=Case" %></li>
                        <% elsif params[:type] == "Marketing" %>
                          <li><%= link_to 'Preparation', "?status=Preparation&type=Marketing" %></li>
                          <li><%= link_to 'Happening Now', "?status=Happening Now&type=Marketing" %></li>
                          <li><%= link_to 'Passed', "?status=Happening Now&type=Marketing" %></li>
                          <li class="divider" role="separator"></li>
                          <li><%= link_to 'Show All Marketing', "?type=Marketing" %></li>

                        <% end %>
                    </ul>
                </div>
                <% end %>
                <br>
            </div>
            <div class="col-lg-4">
                <strong>Created at DateTime</strong>
            </div>
        </div>
    </li>

    <% @accop.each do |opportunity| %>
    <li class="list-group-item">
        <div class="row">
            <div class="col-lg-4">
                <%= link_to opportunity.name, opportunity_path(opportunity) %>
                <br><br>
            </div>
            <div class="col-lg-4">
              <%= opportunity.status %>
            </div>
            <div class="col-lg-4"><%= opportunity.created_at.strftime('%d %b %Y %H:%M:%S')%></div>
        </div>
    </li>
    <% end %>
    <div class="text-center">
      <%= paginate @accop, param_name: :acc_page, remote: true %>
    </div>
</ul>
<% end %>
<hr>
