<div class="row">
    <div class="col-lg-10">
        <h1>Accounts</h1>
        <p><%= pluralize(Account.count, 'item') %></p>
    </div>
    <div class="col-lg-2" style="padding-top: 25px;">
        <%= link_to 'New Account', '#', class: "btn btn-default",
        data: {toggle: "modal", target: "#accountModalForm"} %>
    </div>
</div>
<hr>
<div id="notice-acc"></div>
<% @accounts = Account.all %>
<% if @accounts.blank? %>
There are no accounts registered yet.
<% else %>
<div class="row">
    <div class="col-lg-1">
        <strong>ID</strong>
    </div>
    <div class="col-lg-2">
        <strong>Name</strong>
    </div>
    <div class="col-lg-2">
        <strong>Email</strong>
    </div>
    <div class="col-lg-1">
        <strong>Phone</strong>
    </div>
    <div class="col-lg-2">
        <strong>Industry</strong>
    </div>
    <div class="col-lg-2">
        <strong>Type</strong>
    </div>
    <div class="col-lg-2">
        <strong>Action</strong>
    </div>
</div>
<% @accounts.each do |account| %>
<hr>
<div class="row">
    <div class="col-lg-1">
        <%= account.id %>
    </div>
    <div class="col-lg-2">
        <% if account.account_name.blank? %>
        <span style="color: red;">Account name not specified</span>
    <% else %>
        <%= link_to account.account_name, account_path(account) %>
        <% end %>
    </div>
    <div class="col-lg-2">
      <% if account.email.blank? %>
      <span style="color: red;">Email not specified</span>
  <% else %>
      <%= account.email %>
      <% end %>
    </div>
    <div class="col-lg-1">
        <% if account.phone.blank? %>
        <span style="color: red;">Phone not specified</span>
    <% else %>
        <%= account.phone %>
        <% end %>
    </div>
    <div class="col-lg-2">
        <% if account.industry.blank? %>
        <span style="color: red;">Industry not specified</span>
    <% else %>
        <%= account.industry %>
        <% end %>
    </div>
    <div class="col-lg-2">
        <% if account.account_type.blank? %>
        <span style="color: red;">Account type not specified</span>
    <% else %>
        <%= account.account_type %>
        <% end %>
    </div>
    <div class="col-lg-2">
        <a href="#" class="dropdown-toggle btn btn-default" data-toggle="dropdown">
            <i class="caret"></i>
        </a>
        <ul class="dropdown-menu">
            <li><%= link_to 'Show', account_path(account) %></li>
            <li><%= link_to 'Delete', account_path(account),
            method: :delete, data: {confirm: "Are you sure?"},remote: true %></li>
        </ul>
    </div>
</div>
<% end %>
<% end %>
