<div class="tab-pane fade in active" id="accountDetails">

      <h4>Account Details</h4>
      <div class="row">
        <div class="btn-group col-lg-4" style="padding-top: 10px;">
            <%= link_to 'Edit', '#', class: "btn btn-default form-control",
            data: {toggle: "modal", target: "#accountModalForm"}%>
        </div>
      </div>

    <br>

    <div class="row">
      <div class="col-lg-6">
    <small>Account Name</small>
    <h4><%= @account.account_name %></h4>
    <br>

    <small>Account Type</small>
    <h4><%= @account.account_type %></h4>
    <br>

    <small>Website</small>
    <h4><a href="http://<%= @account.website %>" target="_blank">
      <%= @account.website %>
    </a></h4>
    <br>

    <small>Phone</small>
    <h4><%= @account.phone %></h4>
    <br>

    <small>Fax</small>
    <h4><%= @account.fax %></h4>
    <br>

    <small>Industry</small>
    <h4><%= @account.industry %></h4>
    <br>

    <small>Number of employees</small>
    <h4><%= @account.number_of_employee %></h4>
    <br>
  </div>

    <div class="col-lg-6">
    <small>Billing Address</small>
    <h4>
      <%= @account.billing_street %>
      <%= @account.billing_city %>,
      <%= @account.billing_state %>,
      <%= @account.billing_postal_code %>
      <%= @account.billing_country %>
    </h4>
    <br>

    <small>Shipping Address</small>
    <h4>
      <%= @account.shipping_street %>
      <%= @account.shipping_city %>,
      <%= @account.shipping_state %>,
      <%= @account.shipping_postal_code %>
      <%= @account.shipping_country %>
    </h4>
    <br>

    <small>Description</small>
    <h4><%= @account.description %></h4>

  </div>
  </div>
</div>
