<!-- Modal -->
<div id="accountModalForm" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width: 1000px;">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><%= yield :form_title %></h4>
            </div>
            <div class="modal-body">
                <%= simple_form_for @account, remote: true do |f| %>
                <div class="row">
                    <div class="col-lg-4">
                      <h4>Account Details</h4>
                      <br>
                        <%= f.input :account_name, label: "Account Name", autofocus: true,
                        placeholder: "Account name"%>
                        <%= f.input :account_type, label: "Account Type", placeholder: "Account type" %>
                        <%= f.input :industry, label: "Industry", placeholder: "Type of industry" %>
                    </div>
                    <div class="col-lg-4">
                      <br><br><br>
                      <%= f.input :website, label: "Website", placeholder: "Website" %>
                      <%= f.input :phone, label: "Phone", placeholder: "Phone number" %>
                      <%= f.input :fax, label: "Fax", placeholder: "Fax number" %>

                    </div>
                    <div class="col-lg-4">
                      <br><br><br>
                      <%= f.input :description, input_html: {rows: 5},
                      label: "Description", placeholder: "Account description" %>
                      <%= f.input :number_of_employee, label: "Number of employee",
                      placeholder: "Number of employee" %>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-lg-6">
                        <h4>Billing Address</h4>
                        <br>
                        <%= f.input :billing_street, label: "Street",
                        placeholder: "Billing address street" %>
                        <div class="row">
                            <div class="col-lg-6">
                                <%= f.input :billing_city, label: "City",
                                placeholder: "Billing address city" %>
                                <%= f.input :billing_state, label: "State",
                                placeholder: "Billing address state" %>
                            </div>
                            <div class="col-lg-6">
                                <%= f.input :billing_postal_code, label: "Postal Code",
                                placeholder: "Billing address postal code" %>
                                <%= f.input :billing_country, label: "Country",
                                include_blank: "Billing address country" %>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <h4>Shipping Address</h4>
                        <br>
                        <%= f.input :shipping_street, label: "Street",
                        placeholder: "Shipping address street" %>
                        <div class="row">
                            <div class="col-lg-6">
                                <%= f.input :shipping_city, label: "City",
                                placeholder: "Shipping address city" %>
                                <%= f.input :shipping_state, label: "State",
                                placeholder: "Shipping address state" %>
                            </div>
                            <div class="col-lg-6">
                                <%= f.input :shipping_postal_code, label: "Postal Code",
                                placeholder: "Shipping address postal code" %>
                                <%= f.input :shipping_country, label: "Country",
                                include_blank: "Shipping address country" %>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-lg-12">
                    <h4>Upload Documents</h4>
                    <br>
                    <%= file_field_tag "accdocs[]",type: :file, multiple: true %>
                    <%= f.hint "Can upload multiple files. Only pdf/doc type"%>
                  </div>
                </div>
            </div>
            <div class="modal-footer">
                <%= f.button :submit, class: "btn-success" %>
                <% end %>
                <%= link_to 'Cancel', '#', class: "btn btn-default", data: {dismiss: "modal"} %>
            </div>
        </div>

    </div>
</div>
