<div class="container">

    <div id="acc-title">
        <%= render 'accounts/account_title' %>
    </div>

    <% provide(:form_title, 'Edit Account Entry')%>
    <%= render 'form' %>

    <hr>
    <div id="acc-info">
        <%= render 'accounts/account_info' %>
    </div>
    <hr>

    <div class="row">
        <div class="col-lg-12">
            <ul class="nav nav-tabs">
                <li class="active"><%= link_to 'Related Opportunities / Cases', '#accountOpportunities',
                data: {toggle: "tab", target: "#accountOpportunities"} %></li>
                <li><%= link_to 'Related Contacts', '#relatedContacts',
                data: {toggle: "tab", target: "#relatedContacts"} %></li>
                <li><%= link_to 'Related Documents', '#relatedDocs',
                data: {toggle: "tab", target: "#relatedDocs"} %></li>
                <li><%= link_to 'Notes', '#relatedNotes',
                data: {toggle: "tab", target: "#relatedNotes"} %></li>
                <li><%= link_to 'Details', '#accountDetails',
                data: {toggle: "tab", target: "#accountDetails"} %></li>
            </ul>
        </div>
    </div>

    <br>

    <div class="row">

        <div class="col-lg-6">
            <div class="tab-content">
                <%= render 'account_related_opportunities' %>
                <%= render 'contacts/related_contacts' %>
                <%= render 'documents/related_docs' %>
                <%= render 'notes/related_notes' %>
                <%= render 'details' %>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="timelines">
                <%= render 'timelines/timelines_index' %>
            </div>
        </div>
    </div>
</div>

<%= javascript_tag defer: 'defer' do %>
var locHash = window.location.hash.split('-')
$('.nav-tabs a[href="' + locHash[0] + '"]').tab('show');

var id = '#' + locHash[1] + '-' + locHash[2];
$(id).modal('show');
<% end %>
